[2015-04-17 23:36] vors opened #1 "`ConvertTo-SpaceIndentation` adds extra new line at the end of file"

[2015-04-17 23:48] #1 closed

[2015-05-27 16:47] tysonjhayes opened #3 "Run Test-xDscResource by default"
In the xDSCResourceDesigner module there is a function Test-xDscResource that tests if the resource fails many common tests including some warnings that the Get-TargetResource should return a hashtable and Test-TargetResource should return a boolen.

It would be quite nice if we tested this by default or at least pulled in a number of the functions into these tests to improve the quality of the co

[2015-05-27 17:32] vors commented on #3
:+1:

[2015-07-10 19:55] mhendric opened #4 "ConvertTo-SpaceIndentation Breaks Files in Some Cases"
Recently when I submitted a pull request for changes to the xExchange module, the automated tests failed on a couple files, and suggested running Get-TextFilesList | ConvertTo-SpaceIndentation to fix them. I decided to run this against the entire module, instead of just the files it suggested. After doing so and resubmitting the pull request, I got failures in multiple files that weren't otherwise

[2015-07-25 03:15] joeyaiello commented on #3
Yeah, at the very least, we should run Test-xDscSchema if it's a MOF-based resource. Just ran into the problem of a schema definition on PowerShell/xHyper-V#13 that didn't validate due to an extra type.

[2015-09-01 21:00] tysonjhayes commented on #3
This will be fixed when #6 gets merged.

[2015-09-08 21:36] #3 closed

[2015-10-12 20:33] PlagueHO opened #8 "Module installation of xDscResourceDesigner failed with exit code at <ScriptBlock>"
I often receive the following error when invoking pester testing when the DSCResource.Tests is included in the project:
[-] Error occurred in test script 'C:\projects\xnetworking\DscResource.Tests\Meta.Tests.ps1' 22.92s
  Module installation of xDscResourceDesigner failed with exit code
  at <ScriptBlock>, C:\projects\xnetworking\DscResource.Tests\Meta.Tests.ps1: line 46

![2015-10-13_9-24-57](htt

[2015-10-12 21:25] tysonjhayes commented on #8
I'll mention this again here. I think my PR (https://github.com/PowerShell/xDSCResourceDesigner/pull/29) may have fixed this if we publish the module (so it can be downloaded from the gallery) I'm not 100% on that is the fix though.

[2015-10-12 22:12] PlagueHO commented on #8
Fantastic! :+1:

[2015-10-15 22:56] KarolKaczmarek commented on #8
The version of xDSCResourceDesigner with @tysonjhayes' fix has been published on PSGallery (as v1.6.0.0).
@PlagueHO please let us know if you are still seeing this error.
Thanks

[2015-10-15 23:04] tysonjhayes commented on #8
Really hoping that fixes it, I'm getting really tired of that error. :grin:

[2015-10-15 23:11] PlagueHO commented on #8
Fantastic! Thank you! :+1: I'll let you know if I see it again. I'll keep this issue open for a few days until I get a chance to check in some more DSC Resource changes. It happened about 50% of the time so hopefully we'll know if it's resolved fairly quickly. Thanks again.

[2015-10-16 00:26] PlagueHO commented on #8
It isn't looking good unfortunately :(. The first thing I committed failed:
![2015-10-16_13-22-38](https://cloud.githubusercontent.com/assets/7589164/10531001/46d7759e-7409-11e5-9508-624f0dbaee1d.png)

Is it possible that this is something like a download error/timeout when downloading the resource/module?

[2015-10-16 17:03] vors commented on #8
@Dan1el42 added xDscResourceDesigner download logic

[2015-10-16 17:07] vors commented on #8
We can simply replace nuget by `git clone` to clone `master` (the latest release) version of xDscResourceDesginer for now. Also, I getting packages code doesn't belong to pester tests (`Meta.Tests.ps1`) and should be moved to `TestRunner.psm1`.

[2015-11-04 03:45] PlagueHO commented on #8
This issue seems to have stalled but is still giving me a lot of grief (and many many dummy commits :) ). Any objections if I make the changes that @vors has suggested in my fork and if it resolves the issue submit a PR?

[2015-11-04 08:22] vors commented on #8
You have my blessing :)

[2015-11-04 09:26] PlagueHO commented on #8
Awesome! Thank you :)

Re: Moving the package getting code into ```TestRunner.psm1```:
I looked at making this change as well, but it seems none of the DSC resources here are configured to call it to perform unit testing. So, if I moved the package get code over to ```TestRunner.psm1``` then it'll break all the AppVeyor configs for all existing DSC resources I think - which I think is probably a :

[2015-11-04 20:41] KarolKaczmarek commented on #8
The only drawback of this approach is that we don't test the released product on PS Gallery, but rather our development code. True, it's coming from master branch and theoretically SHOULD be the same, but... things go wrong.

I think it's OK to do it as a temporary solution, but we should investigate why we were getting that error at the first place.

Also, perhaps we should use PackageManagement

[2015-11-04 21:26] PlagueHO commented on #8
@KarolKaczmarek, you are right. I did do some investigation on this error before switching it over to use Git on my fork and it actually appears that the module is being installed, but nuget.exe is returning a blank exit code (rather than 0) on these occasions.

I could do a bit of testing to confirm if the module is actually being installed or not and see if the blank exit code actually does repr

[2015-11-05 01:22] KarolKaczmarek commented on #8
Using git method only when nugget returns a blank error code sounds reasonable (just leave a log message we are switching to obtaining ResourceDesigner from git instead of nuget).

[code]
Not sure what you mean here? We have dev and master branches already on xDSCResourceDesigner repo.

[2015-11-05 03:27] PlagueHO commented on #8
Thinking about adding a dev branch: You're completely right. Ignore that suggestion. :)

[2015-11-05 03:40] vors commented on #8
I think we should address CI scenario first, because people are frustrated by failed breaks on legitimate source changes.
We can even temporarily disable DscResource designer check at all, if needed.
Common test run on all repos doesn't take a long time, so it's easy to re-enable them, once we close on it.

We don't have WMF 5 on worker machines (althought with can get it with `os: unstable` entry

[2015-11-05 04:00] PlagueHO commented on #8
I think I've found the issue with the call to Nuget and resolved it. It seems that Start-Process is actually causing a problem here because I was still occasionally running into the exact same problem when calling Git.exe (using Start-Process as well) where a blank error code. So, I replaced the fancy start-process code with just a plain old & call and then check the $LASTEXITCODE parameter and th

[2015-11-05 04:22] vors commented on #8
@PlagueHO wow, `Start-Process` usage is a good catch! Still not sure why it happens.

I'm a big fan of keeping simple things simple.
We want a straightforward, consistent tests, that **works the same way or fails the same way**.
Introducing **NugetThenGit** and other options would make troubleshooting harder, if we need to look at this code in two months. Adding code which is not used at all doesn

[2015-11-05 04:38] PlagueHO commented on #8
Good call. I agree, keeping it simple is best. I think now that we've managed to isolate the cause of the problem with the Nuget call it's just better to do away with the download using git.

Also, good idea about the $ENV:AppVeyor check. Have implemented your suggestions and just testing them now. :)

So in summary:
1. If not AppVeyory goto 3
2. If PowerShellGet module available call Install-Modu

[2015-11-05 04:59] vors commented on #8
:+1:

[2015-11-12 19:44] #8 closed

[2015-12-15 18:54] KarolKaczmarek opened #12 "Meta.tests.ps1 add incorrect path to PSModulePath"
Currently we add
[code]
Which in appveyor will add C:\project\<repo_name>

Instead, we should be adding:
[code]
which would add C:\project (containing folder with the DSC resource module).

Another issue is that we should be also reverting value of $env:PSModulePath to the original value after the tests.

[2015-12-15 21:42] KarolKaczmarek opened #13 "Integrate PSScriptAnalyzer runs into tests"

[2015-12-15 22:21] PlagueHO commented on #13
Good idea.

I'm thinking that the code should download the ```PSScriptAnalyzer``` module via the same code as ```Install-ResourceDesigner```.

We could actually convert ```Install-ResourceDesigner``` into a more generic function like: ```Install-SupportModule```. Then ```Install-ResourceDesigner``` and a new ```Install-PSScriptAnalyzer``` could just call the ```Install-SupportModule```.

The actua

[2015-12-15 22:33] #13 closed

[2015-12-15 22:43] KarolKaczmarek commented on #13
Yes, that's exactly how it's done :)
I've refactored the Install-ResorceDesigner into Install-ModuleFromPowerShellGallery to make it more generic and used it for both ResourceDesigner and PSScriptAnalyzer.

[2015-12-15 23:07] PlagueHO commented on #13
Haha! Now that was well done :smile: and quick too - I did a pull on the master branch and saw the code had magically appeared.

[2015-12-16 23:35] KarolKaczmarek commented on #12
Closed with #15

[2015-12-16 23:35] #12 closed

[2015-12-19 04:34] PlagueHO opened #18 "PSScriptAnalyzer errors not shown correctly when more than one occurs in Meta.Tests"
If more that one error is detected by PSScriptAnalyzer test in meta.test.ps1 the text that is produced is not correctly formed:
![2015-12-19_17-25-27](https://cloud.githubusercontent.com/assets/7589164/11911285/f4082abc-a675-11e5-89b3-e29ce350a73f.png)
The problem occurs here:
https://github.com/PowerShell/DscResource.Tests/blob/master/Meta.Tests.ps1#L147

This should be changed to something like

[2015-12-19 05:36] PlagueHO opened #19 "Error thrown by Meta.test.ps1 if executed more than once"
Caused by line:
https://github.com/PowerShell/DscResource.Tests/blob/master/Meta.Tests.ps1#L64

This occurs because if:
[code]
is run more than once, the following errors occur:
![2015-12-19_18-30-59](https://cloud.githubusercontent.com/assets/7589164/11911569/b3a28d56-a67e-11e5-9d23-11aa14e06598.png)

If the PSScriptAnalyzer module is removed from memory then the tests will work again.

Also note

[2015-12-19 23:28] PlagueHO commented on #19
I've found the cause of this error.

It only occurs if there are more than one copy of PSScriptAnalyzer installed. If only a single version of the PSScriptAnalyzer module is installed the error **does not** occur.

The problem issue is caused by the ```Install-ModuleFromPowerShellGallery``` function returning more than one record, which causes the ```Import-Module -Force``` to fire for each versio

[2016-01-07 02:04] #19 closed

[2016-01-07 02:11] #18 closed

[2016-01-20 21:16] TravisEz13 opened #22 "Error message for encoding should say that mofs should be ANSI encoded an UTF 8 is not allowed for WMF4"
https://github.com/PowerShell/DscResource.Tests/blob/master/Meta.Tests.ps1#L110

[2016-01-21 01:02] PlagueHO commented on #22
Just a few thoughts on this:

Would this mean that any MOF's that are encoded in UTF8 are actually incorrect and should be re-encoded in ANSI? Most DSC repos presumably all have UTF8 encoded MOF files currently. If this is the case it might be good to create a script that updates all the MOF files for all repos in one go.

Also, the current test checks ALL files are not unicode encoded. Therefore

[2016-01-21 01:09] vors commented on #22
ANSI is equal to UTF-8 on the 0-127 bytes (because it uses 1 byte to represent this values). So I don't see the problem.

I think there is a confusion introduced by the fact that PowerShell use Unicode as alias to UTF-16 encoding (2 bytes to represent all values). Unicode is not a particular encoding, but a character set. Here is a great and fun overview http://www.joelonsoftware.com/articles/Unic

[2016-01-21 01:57] PlagueHO commented on #22
Cool, thanks @vors - great article. I now realize my questions were a bit silly :smile:

[2016-01-21 23:39] vors commented on #22
Synced offline with Travis, I didn't realize that xDscResourceDesigner ask to convert mof to UTF-16 (but it also supports ANSI). So we have this loop that Meta tests ask to convert to UTF-8 to make Git happy and xDscResourceDesigner tests ask to convert to UTF-16 and people have blocking PRs because of it. Thanks @TravisEz13 for taking actions!

[2016-01-23 00:32] #22 closed

[2016-01-25 21:19] jcwalker opened #24 "test template scripts only run without error in root of module."
When using the template for the integration test.  The first thing the script template does is download a DscResource.Test directory which contains TestHelper.psm1 from GitHub.  The template script calls TestHelper.psm1 which throws error because it can’t locate the module manifest file which is located in the root folder of the module.  TestHelp.psm1 is looking for this file in the Tests\Integrat

[2016-01-25 22:30] PlagueHO commented on #24
Hi @jcwalker:

1. which folder is set as the current folder when you call ```Invoke-Pester```?
2. Are you in the Tests\Integration or the DSC Module Root folder when you call ```Invoke-Pester```? If the current folder is anything but the DSC Module Root folder the tests will fail.

Regarding the testing guidance, are you referring to [this](https://github.com/PowerShell/DscResources/blob/master/Te

[2016-01-25 22:39] jcwalker commented on #24
Hey @PlagueHO
Yes I am in the Tests\Integration folder.  And yes I'm referring to that document.
So I should be calling Invoke-Pester from the module root folder and not from the Test\Integration folder?

Thanks for being so quick to respond to this.

[2016-01-25 22:44] KarolKaczmarek commented on #24
Currently Initialize-TestEnvironment is written in a way that it requires to call Invoke-Pester from root folder, however I think we should modify it so that it works regardless of the location where we invoke tests from (this way we can easily execute either unit or integration tests only).

[2016-01-25 23:00] PlagueHO commented on #24
@KarolKaczmarek - that is a good idea - didn't think of that (I've usually just specified the ```-script``` parameter on ```invoke-pester```). Although if you do run Invoke-Pester from a subfolder you'd end up with a copy of the DSCResource.Test in that folder as well - but I don't see that as a problem.

We could look for ```"$DSCModuleName.psd1"``` in the current folder and if it is not found, w

[2016-01-25 23:08] PlagueHO commented on #24
@jcwalker, glad to help. At the moment, the test initialization code does need to be called from the root folder of your DSC Module (via ```INvoke-Pester```), but as @KarolKaczmarek suggests, this might be able to be changed as executing just Integration or Unit tests only would be useful.

[2016-01-25 23:14] KarolKaczmarek commented on #24
@PlagueHO
DscResource.Tests should always be cloned to the root directory, so that regardless of where we call tests from, there's always only one copy of it present.

To achieve that, just make sure that you obtain the root path from the integration_template.ps1, you can do it in the same way as it's done in Initialize-TestEnvironment:
[code]

I believe this should also fix the problem @jcwalker

[2016-01-26 00:52] PlagueHO commented on #24
@KarolKaczmarek, your suggestion works 100% :+1: and does indeed resolve @jcwalker's issue.

I'll submit a PR for the test.templates in DSCResources.

[2016-01-26 01:04] KarolKaczmarek commented on #24
Awesome, thanks!

[2016-01-26 01:39] jcwalker commented on #24
Thanks @KarolKaczmarek  and @PlagueHO .  That was a fast resolution!

[2016-01-26 01:49] PlagueHO commented on #24
Glad to help and good catch :smile:

[2016-01-26 18:36] KarolKaczmarek commented on #24
Fixed in https://github.com/PowerShell/DscResources/pull/85

[2016-01-26 18:36] #24 closed

[2016-02-08 06:00] PlagueHO opened #27 "Add a test for Egyptian braces Meta.tests.ps1 and a fixer to Meta.Fixers.ps1"
There is a StyleGuideline that states that [Egyptian Braces](http://blog.codinghorror.com/new-programming-jargon/) shouldn't be used - e.g. code block open braces should appear on a new line.

It would be good if Meta.Tests.ps1 could include a test identified this problem.

Ideally, an automatic fixer for this could also be provided in Meta.Fixers.ps1.

[2016-02-09 21:41] PlagueHO opened #28 "Change PSScriptAnalyzer test in Meta.tests.ps1 to eveluate warning level rules"
Currently the PSScriptAnalyzer test in Meta.tests.ps1 only evaluates Error level rules. However, there are some PSSA Warning level rules that would also be valuable if they failed on for DSC Resources.

## Rules
Some PSSA Warning level rules are should not be applied to DSC resources because they don't make sense for DSC. The following rules I think should **not** be run:

PSUseShouldProcessForSta

[2016-02-10 18:21] mgreenegit opened #29 "Suggest using Save-Module rather than Install-Module"
The current script installs the module to the build slave.  This can be troublesome because it requires administrative access and could potentially impact the build slave which is an issue if the same environment is re-used in unit testing.  Using Save-Module to the current user profile and then deleting the folder on cleanup would be a nice approach.

[2016-02-10 18:31] mgreenegit opened #30 "Suggest introducing tags"
This would allow for easy exclusion of specific test types when the repo is cloned in to other projects

[2016-02-10 18:58] KarolKaczmarek commented on #30
Can you provide more details about your proposition? Perhaps including scenario where you need to target particular set of tests.

[2016-02-10 19:09] mgreenegit commented on #30
A small example (please don't put too much in to this specific case though) would be separating the script analyzer tests from project-specific unit tests.  A larger example in the future would be separating unit tests that can be run in persistent VM's from integration tests that require ephemeral VM's.  This very well might just be 'planning ahead'.

[2016-02-10 19:25] KarolKaczmarek commented on #30
If it's common tests vs unit tests vs integration, those are all in separate directories, so all you need to do is to call invoke-pester inside of it. I was wondering if you meant some more granular distinction, but if it's just that, I think we don't need tags, as it's very easy to target any of those currently.

[2016-02-10 19:29] KarolKaczmarek commented on #30
That being said, looks like pester has tag support implemented already, so if we come up with need for targeting more specific sets of tests, that'd be very easy to do:
https://github.com/pester/Pester/wiki/Describe#tags

[2016-02-10 21:06] PlagueHO commented on #30
I think I understand the reason for this - and agree the pester tags would be useful here.

An example:
With Distributed File System (DFS) DSC resources the integration test currently only cover testing a replication group with a single node. Ideally a proper integration test would create a rep group with two or more nodes. But clearly this isn't possible on Appveyor, but may be possible when test

[2016-02-10 21:14] PlagueHO commented on #29
Sounds reasonable to me.

[2016-02-11 07:08] dcrreynolds opened #31 "Add test for having a new line at the end of a file"
This has come up a number of times in peer review and would be nice to automate.

[2016-02-11 08:53] PlagueHO commented on #31
:+1: This would be pretty easy to add I think.

[2016-02-23 23:33] PlagueHO opened #32 "Remove PS5.0 requirement in Meta.Tests to run PSScriptAnalyzer test"
WMF 5.0 no longer a requirement of PSSA. v1.4.0 supports WMF 3.0 and above.

I'll submit a PR if agreeable?

[2016-02-23 23:50] iainbrighton commented on #32
Agreeable! Ideally we'd be testing on both v4 and v5?

[2016-02-24 00:15] PlagueHO commented on #32
That would be ideal, but I have to admit I usually only test on v5.

I think all the repos are set to test on WMF5 AppVeyor boxes too. I haven't played with it much but I think AppVeyor can support dual environments - so possibly all resources could be validated in V4 and V5 environments. But I guess that is a bit off topic :smile:

[2016-02-29 21:09] KarolKaczmarek commented on #32
Currently only few repos test on WMF 5.
Please go ahead and send PR to remove this requirement though, as it's no longer needed.
The main task here would be to verify that PSSCriptAnalyzer test passes for all repos before merging it. Could you run it on your dev box first?

[2016-02-29 21:40] PlagueHO commented on #32
Sure thing @KarolKaczmarek - I'll pull all Community repos onto my dev box and them a bulk test with the new version once completed.

[2016-02-29 23:16] KarolKaczmarek commented on #32
thanks!

[2016-03-03 01:36] PlagueHO commented on #32
Just batch running these tests now with the new version of DscResouce.Tests against all submodule of DSCResources (which is taking a long time).

I thought I'd post the script I used to batch run tests against all community DSC Resources in case it is useful to someone else (e.g. Issue #31, Issue #28):
[code]
Put the above script into the DSCResources Repo root and run it - although in my case I w

[2016-03-04 04:24] PlagueHO commented on #32
Unfortunately some of the existing resources are failing the PSSA tests:
![2016-03-03_18-06-30](https://cloud.githubusercontent.com/assets/7589164/13485270/cdbbf232-e16a-11e5-9602-edee79fd6650.png)

So far It seems to be the PSAvoidUsingUserNameAndPassWordParams error only.

I'd actually suggest that this error is not actually valid for DSC resources anyway (well not valid for the *-TargetResource

[2016-03-04 09:31] iainbrighton commented on #32
@PlagueHO I think the PSAvoidUsingNameAndPasswordParams rule will be/was tweaked in the next/a recent release of the PSSA?! This update was due for release in Feb by the looks of it. If it has been introduced and is still tripping the PSSA, someone needs to log a bug there /cc @KarolKaczmarek

 My understanding is that if a parameter is named `Password` and of either a `System.Security.SecureStrin

[2016-03-04 18:42] KarolKaczmarek commented on #32
@raghushantha Do you know what's the current state of PSAvoidUsingNameAndPasswordParams  rule?

@PlagueHO As a temporary solution, feel free to disable this rule. We should get some basic set of rules passing for all resources and expand from there (that's why we don't report occurances of warnings at all)

[2016-03-04 20:35] PlagueHO commented on #32
@iainbrighton - I'll check on which version that was running and confirm what the situation is with that one.

@KarolKaczmarek - once I have confirmed that I was running using the latest version I'll disable the rule (if still a problem). I have created a list of proposed warnings to ignore in issue #28.

[2016-03-11 23:50] KarolKaczmarek opened #34 "Update "Templates for creating tests" section in readme.md"
Test templates were moved to DscResources (https://github.com/powershell/dscresources ) repository, so all the links in that section need to be updated.

[2016-04-01 19:22] dcrreynolds commented on #31
Ran the test against the default branch of all the DSC repos (count was 55). 17 had at least 1 file missing a new line.

xAzurePack, xAzureStorage, xCertificate, xDefender, xDnsServer, xExchange, xMySql, xNetworking, xPendingReboot, xPSDesiredStateConfiguration, xRemoteDesktopSessionHost, xRobocopy, xSharePoint, xSqlPs, xSQLServer, xStorage, xWindowsEventForwarding.

[2016-04-01 19:54] KarolKaczmarek commented on #31
Thanks @dcrreynolds! Can you reopen pull requests with those tests, similar to #33 which unfortunately was merged and reverted ?
@mbreakey3 Can you add those new lines when you will be going through PSSA errors for these modules?

[2016-04-01 23:35] dcrreynolds commented on #31
Done.

[2016-04-05 23:03] PlagueHO opened #37 "Exception Occurs if exactly one test is failed in PSScriptAnalyzer Pester Test"
![2016-04-06_11-03-05](https://cloud.githubusercontent.com/assets/7589164/14300825/33ea50f8-fbe7-11e5-98fd-5c1957263111.png)

I will submit a PR to fix.

[2016-04-06 01:08] PlagueHO commented on #32
@KarolKaczmarek, @iainbrighton - I've had some time to do some more work on this one.

The most common PSSA rule that is being violated by resources is:
[code]
In 90% of the cases with this violation are in Samples code in the samples folder. However, there are some violations in the Modules themselves (for example https://github.com/PowerShell/xWebAdministration/blob/dev/DSCResources/MSFT_xWebApp

[2016-04-06 09:22] iainbrighton commented on #32
@PlagueHO I can't find any SecureString references in the xDnsServer module? When running the latest version of PSSA, this is what I'm seeing:

[code]
No mention of the PSAvoidUsingConvertToSecureStringWithPlainText rule?!

[2016-04-06 09:48] PlagueHO commented on #32
@iainbrighton  - Sorry, you're completely right. I was manually going through the errors on resources from Z to A and so xDNSServer was one of the last ones so I think I was getting a little bit cross-eyed near the end.

There errors are these:
[code]

They're in the samples folder. I don't think they're actually a problem, but the thing is that the PSSA test in DSCResource.tests, checks everythin

[2016-04-06 09:54] iainbrighton commented on #32
Is there no way to exclude a directory from PSSA scanning? Should this be added as an issue?

As a workaround can we not enumerate the files we want checking with Get-Item and exclude the \Examples folder rather than scanning the whole directory structure?

[2016-04-06 10:05] PlagueHO commented on #32
For the specific xDNSServer it is actually easy enough to fix as it isn't in samples like I first though (been a long day) - get rid of the -ComputerName "Localhost" from these lines:
https://github.com/PowerShell/xDnsServer/blob/dev/DSCResources/MSFT_xDnsARecord/MSFT_xDnsARecord.psm1#L68
https://github.com/PowerShell/xDnsServer/blob/dev/DSCResources/MSFT_xDnsARecord/MSFT_xDnsARecord.psm1#L72

I'm

[2016-04-07 19:32] KarolKaczmarek commented on #32
We want examples to be as high quality as possible, so we would like to keep scanning those as well.
@mbreakey3 is looking into PSSA failures and will be fixing them in the following days.

[2016-04-07 19:36] #37 closed

[2016-04-07 19:55] PlagueHO commented on #32
@KarolKaczmarek - Nice! Thanks!

[2016-04-07 20:03] iainbrighton commented on #32
I seem to have problems with example DSC configurations that use the Import-DscResource with external resources. These raise errors when the example DSC resources aren't available.

[2016-04-07 20:10] PlagueHO commented on #32
@iainbrighton - is that rule Warning level or Error level? I get e-mailed those from PSGallery for my submitted modules and from memory they were Warning level (might be wrong though).

[2016-04-07 22:38] PlagueHO commented on #32
I've attached the full output from the PSSA run on all modules for easy reference (rather than relying on my summary). Sorry about the formatting.
[Output.txt](https://github.com/PowerShell/DscResource.Tests/files/209335/Output.txt)

[2016-04-08 07:13] iainbrighton commented on #32
Yes - the PS Gallery and presumably the MS DSC resources suffer the same fate too? They look like errors to me:

Parse error in file ...\Documents\WindowsPowerShell\Modules\Lability\0.9.8\DSCResources\xHyper-V\Examples\Sample_xVhdFileExamples.ps1: The DSC engine could not load the module 'xHyper-V'. It was not found on the system at line 27 column 9

I'm not sure that this needs to logged here tho

[2016-04-08 07:54] PlagueHO commented on #32
@iainbrighton - Yes, those are the ones I get too. PITA, but I guess with good intention. All my sample DSC configs throw so I get pages of them on every release.

There needs to be a method to acknowledge and override some PSSA rules in PSGallery for specific projects.

Good question about where to log enhancements - MSFT should release the PSGallery source on GitHub so we can have at it :wink:

[2016-04-08 08:04] iainbrighton commented on #32
Yeah it's a PITA until they block publishing when there are any errors; then it's a problem! I'll ask the product team where this needs to be logged..

[2016-04-08 10:25] iainbrighton commented on #32
@PlagueHO I've logged it here: https://windowsserver.uservoice.com/forums/301869-powershell/suggestions/13353099-pssa-errors-with-dsc-example-files

[2016-04-08 17:11] KarolKaczmarek commented on #32
Thanks @iainbrighton ! We discussed this exact issue last week and there were different opinions on how this should be handled, so this is definitely a valuable feedback.

[2016-04-08 22:13] PlagueHO commented on #32
Awesome @iainbrighton - have upvoted!

[2016-04-12 04:45] #31 closed

[2016-04-14 04:56] #34 closed

[2016-04-16 01:18] TravisEz13 opened #40 "Make test for having a new line at the end of a file, actually cause a failure"
Right now it just warns, when it is run in AppVeyor (fails outside of AppVeyor)

[2016-04-16 23:34] TravisEz13 commented on #40
test was added due to #31

[2016-04-21 22:48] KarolKaczmarek commented on #40
We should fix https://github.com/PowerShell/DscResources/issues/114 before addressing this one

[2016-04-30 02:59] robplank opened #41 "psd1 encoding type"
In https://github.com/PowerShell/DscResource.Tests/blob/master/Meta.Tests.ps1 the "Files encoding" test test if all of the files are encoded in UTF-8.

Is this a best practice for module manifest files ? I'm wondering because New-Modulemanifest doesn't create the manifest in UTF-8.

[2016-05-03 23:23] mbreakey3 opened #42 "Modules not able to run when there are multiple modules on the machine"
When the same module is on the machine in multiple places some of the integration tests fail due to how we are currently setting up the test environment. This is fixed by ensuring only one copy of a module is on the machine, but we should have a better way of handling this scenario.

see:
https://github.com/PowerShell/DscResource.Tests/blob/master/TestHelper.psm1#L280

[2016-05-04 00:58] PlagueHO commented on #42
Yes, I've run into the problem many times before.

One solution might be to ensure the Module version number of the Module being tested was issued to the Import-Module cmdlet. For the integration tests you'd need the Import-DSCResource to also do this:

[code]

[2016-05-04 18:44] KarolKaczmarek commented on #42
We could have same version of the same module deployed in multiple places though, so that wouldn't work in that case. We can specify the full path to the module when importing it.

[2016-05-04 18:54] KarolKaczmarek commented on #41
Yes, we recommend UTF-8 (https://github.com/PowerShell/DscResources/blob/master/StyleGuidelines.md) , as git doesn't work well with UTF-16.

Thanks for the feedback regarding New-ModuleManifest, I've escalated this to the appropriate team and hopefully it will get fixed soon. Until this happens, you will unfortunately need to convert the files into UTF-8 before checking in. Sorry for inconvenience

[2016-05-04 18:54] #41 closed

[2016-05-04 21:15] PlagueHO commented on #42
@KarolKaczmarek - now that would be an even better idea! :smile:

[2016-05-10 03:27] nzspambot opened #45 "psd1 files are now UTF16"
Hi, PSScriptAnalyzer has just popped this up:

[code]

[2016-05-10 04:01] nzspambot opened #46 "DscResourceCommonTests\Meta.Tests.ps1 incorrect module import"
Hi, this path seems incorrect now:

[code]

[2016-05-10 17:43] KarolKaczmarek commented on #45
@mbreakey3 Can you fix this?

[2016-05-10 17:47] mbreakey3 commented on #46
Hi @nzspambot I'll take a look at this. Thank you for pointing it out!

[2016-05-10 17:47] mbreakey3 commented on #45
Yeah, I'll look into it. Thanks!

[2016-05-11 05:45] BrianFarnhill commented on #46
I'm also seeing this in xSharePoint as well and is blocking me from passing tests to merge this in. I'll look at a quick PR to update the import lines

[2016-05-11 18:39] KarolKaczmarek commented on #45
This was fixed in https://github.com/PowerShell/DscResource.Tests/pull/47
Thanks for headsup @nzspambot and sorry for inconvenience

[2016-05-11 18:39] #45 closed

[2016-05-11 18:39] KarolKaczmarek commented on #46
This was fixed in https://github.com/PowerShell/DscResource.Tests/pull/47

[2016-05-11 18:39] #46 closed

[2016-05-18 02:40] rchaganti opened #55 "System Environment variable PSModulePath shouldn't be updated for unit tests"
The current resource test template updates the PSModulePath system variable for LCM to load the resource modules during integration tests. For unit tests, this is not necessary. Doing so and terminating a test without the test environment restore causes ISE to hang (while opening) when the added module path contains a folder that has multiple subfolders. For example, in of my tests, I had the reso

[2016-05-18 08:05] iainbrighton commented on #55
Aha! I wondered why this was happening. Gradually, it takes longer and longer to start a PowerShell session when autoloading modules - due to the hundreds of entries in the PSModulePath. Good catch :)

[2016-05-18 08:09] PlagueHO commented on #55
Thanks for logging this @rchaganti - appreciate it!

I totally agree, this is definitely a problem and needs to be fixed ASAP! Thanks for investigating it.

The original test methodolgy was to move the module to the existing PSModulePath folder, but this introduced it's own issues:
1. If the same module already existed on the test machine in the PSModulePath then the existing version(s) would firs

[2016-05-18 08:18] PlagueHO commented on #55
Looking at the code it seems to me that the problem might be that the detection method used to detect the root folder of the module could be at fault. Specifically one of these two lines:
https://github.com/PowerShell/DscResource.Tests/blob/dev/DscResourceTestHelper/TestHelper.psm1#L322
https://github.com/PowerShell/DscResource.Tests/blob/dev/DscResourceTestHelper/TestHelper.psm1#L325

@rchaganti

[2016-05-18 11:13] rchaganti commented on #55
This happened while I was testing xVMNetworkAdapter resource that I pushed to xHyper-V.

[2016-05-18 11:21] rchaganti commented on #55
@PlagueHO why can't we simply rename the target folder if there is a name conflict and copy the new one that we need to run tests on? And, in the clean up code, we can restore the original name.

[2016-05-18 14:30] rchaganti commented on #55
This is for the PR I submitted in xHyper-V. The resource is xVMNetworkAdapter.

Get Outlook for Android<https://aka.ms/ghei36>

On Wed, May 18, 2016 at 1:18 AM -0700, "Daniel Scott-Raynsford" <notifications@github.com<mailto:notifications@github.com>> wrote:

Looking at the code it seems to me that the problem might be that the detection method used to detect the root folder of the module could be

[2016-05-18 18:00] KarolKaczmarek commented on #55
@rchaganti
So your folder structure was
C:\temp\xHyper-v\DscResources\xVMNetworkAdapter ?
If that's the case then indeed we should have added C:\temp to the PSModulePath, not the C:\ ,so the culprit may be what @dcrreynolds pointed at.

Simply renaming the folder in case of the conflict won't work since if you interrupt tests we will be left with the renamed folder - we are already unwinding our c

[2016-05-19 08:24] PlagueHO commented on #55
@rchaganti  - I found the problem. Your Unit tests must be in a sub folder called Unit _if you're using the standard test templates_.

So you should have a path like this:
/Tests/Unit/MSFT_xVMNetworkAdapter.tests.ps1

See [xNetworking](https://github.com/PowerShell/xNetworking/tree/dev/Tests/Unit) for an example.

That said, the code should deal with this situation better and perhaps do a better j

[2016-05-20 08:01] PlagueHO commented on #55
@KarolKaczmarek - is it worth me making the change I suggested? E.g. so that we locate the Root of the module by walking up the tree from the test file until we find the Resource Module filename?

I'm not sure what we can do about fixing the problem with the environment being reset though.

[2016-05-25 08:05] PlagueHO opened #57 "Remove Remove-Module from Initialize-TestEnvironment"
The Remove-Module code in [Initialize-TestEnvironment](https://github.com/PowerShell/DscResource.Tests/blob/master/TestHelper.psm1#L337) is actually redundant. Import-Module -Force should be adequate to ensure the DSC Resource module is reloaded.

As noted by @narrieta in https://github.com/PowerShell/xActiveDirectory/pull/96#issuecomment-221394004

[2016-05-25 08:10] PlagueHO opened #58 "Initialize-TestEnvironment should change PSModulePath at Process level for Unit Tests"
Currently the Initialize-TestEnvironment code changes the PSModuleRoot path to ensure that the correct module is tested. It is changed at the machine level to ensure that the correct path is set during Integration testing. However it should only be changed at the Process level for Unit tests.

These lines:
line https://github.com/PowerShell/DscResource.Tests/blob/master/TestHelper.psm1#L357
https:

[2016-05-26 08:11] PlagueHO opened #59 "Move Import-Module from Initialize-TestEnvironment to *.tests.ps1"
See [this discussion](https://github.com/PowerShell/xActiveDirectory/pull/96#issuecomment-221696166) for context.

The problem with Import-Module being inside the Intialize-TestEnvironment is that the DSC Resouce is loaded into the scope of the TestHelper.psm1 module. This means that tests for *-TargetResource have to be made inside an InModuleScope block.

@iainbrighton has tested the Import-Modu

[2016-05-26 08:29] iainbrighton commented on #59
@PlagueHO @narrieta Let me clarify something: importing the module with `-Scope Global` doesn't break anything. I have issues mocking the internal calls when not using `InModuleScope`, but I think this is a Pester/testing issue and _nothing to do with the test template_.

[2016-05-26 08:36] PlagueHO commented on #59
@iainbrighton - oh right - I misunderstood! So possibly -Scope Global will solve the problem. I'd prefer not to make a breaking change if possible - but a change definitely needs to be made. Perhaps just going with -Scope Global would be the better solution. Will wait for the others to weigh in. Thanks Iain!

[2016-05-26 18:48] narrieta commented on #59
@iainbrighton @PlagueHO What are the issues mocking when using -Global? I did a quick test and didn't need InModuleScope, but I may be missing something:

[code]

Even if it works without issues, I am not fully convinced about importing at the global scope... may introduce other issues later. I still think the best choice is to import in the test script, but of course this needs to be weighted aga

[2016-05-27 21:51] PlagueHO commented on #59
@narrieta - I think I misunderstood @iainbrighton's original comment. I don't think the issues he had with Mocking were with the ```-Scope Global```. Iain's quote: " I have issues mocking the internal calls when not using InModuleScope, but I think this is a Pester/testing issue and nothing to do with the test template."

So I think we can use ```-Scope Global``` ok. I've tried this out on the xNe

[2016-05-27 23:23] narrieta commented on #59
@PlagueHO, @iainbrighton, @narrieta, @KarolKaczmarek, @TravisEz13, @mbreakey3: In my opinion, using -Global temporarily and changing the existing tests gradually is OK.

One possible way to reach into the localization data is to limit the use of InModuleScope to getting a reference to the data:

[code]

[2016-05-27 23:26] PlagueHO commented on #59
Awesome @narrieta - thank you for your extremely valuable input on this. I had actually added your LocalizedData suggestions to the [TestGuidlines.md](https://github.com/PowerShell/DscResources/blob/master/TestsGuidelines.md#using-variables-declared-by-the-module-in-tests) so hopefully people read it when creating tests. But if not, we can point them at that if they run into trouble when removing

[2016-05-28 07:23] PlagueHO opened #61 "Text Files Formatting test should fail on UTF16 files"
[This test](https://github.com/PowerShell/DscResource.Tests/blob/dev/Meta.Tests.ps1#L99) should if a MOF file is set to UTF16.

See:
https://github.com/PowerShell/xWebAdministration/pull/136#issuecomment-222290942

for more context.

[2016-05-31 08:34] iainbrighton commented on #59
@narrieta That works, but strangely doesn't work in the xADComputer tests I have!? I'll take another look as there might be something weird going on with the previous mock definitions/scopes.

[2016-06-06 21:59] #57 closed

[2016-06-06 21:59] #59 closed

[2016-06-06 22:15] KarolKaczmarek commented on #55
@PlagueHO Yes please, we could improve the logic to find module root.

[2016-06-07 06:05] PlagueHO commented on #55
Cool - I'll get onto it.

[2016-06-07 18:26] #55 closed

[2016-07-17 06:44] kjacobsen opened #66 "Running tests with least privlege"
Hi,

When running in an environment of least privilege, you cannot run DSC tests making use of TestHelper.psm1.

The helper attempts to make registry changes on line 373. My analysis seems to show that we don't need to make this change at a system level, for all future executions of PowerShell. My recommendation is to remove like 373. If removal cannot occur, then place the correct # requires stat

[2016-07-17 19:50] PlagueHO commented on #66
Hi there. The reason for the system level changes to the PSModulePath is so that the integration tests can run. The LCM runs under a different context than the user initiating the tests. So this is currently the only way to ensure that the module being integration tested can be found.

That being said,  this isn't necessary for unit tests. There is already an issue open for correcting this.

[2016-07-17 19:52] PlagueHO commented on #66
Issue #58 is the one open for resolving this. Feel free to submit a PR For it :smile:

[2016-07-19 00:56] KarolKaczmarek commented on #66
Thanks for feedback, as @PlagueHO noticed, this is duplicate of #58, so I'll close it for now.
Feel free to reply in #58 if you have further comments.
Thanks!

[2016-07-19 00:56] #66 closed

[2016-07-22 01:03] KarolKaczmarek commented on #58
Fixed by https://github.com/PowerShell/DscResource.Tests/pull/67

[2016-07-22 01:03] #58 closed

[2016-07-28 14:56] guitarrapc opened #68 "Initialize-TestEnvironment will fail if your box is Domain Joined machine"
## Description

Initialize-TestEnvironment will failed to change Execution policy if Box is joined to Domain.
## Exception

When you run like other DSC Resource doing, you will get **Security Error** on [L383](https://github.com/PowerShell/DscResource.Tests/blob/dev/TestHelper.psm1#L383)

[code]

[code]
## Reason

Issue happen when Domain Joined machine, or any other condition may apply, had restr

[2016-07-29 16:20] gordonbondon opened #69 "Alias "ls" in MetaFixers.psm1 breaks Text files formatting test"
[Here](https://github.com/PowerShell/DscResource.Tests/blob/dev/MetaFixers.psm1#L64) `ls` alias is used  instead of `Get-ChildItem` and this breaks [Text files formatting](https://github.com/PowerShell/DscResource.Tests/blob/dev/Meta.Tests.ps1#L99) test on systems where this alias is removed (for example because git bash counterpart is used).

[2016-07-30 08:14] guitarrapc opened #70 "Restore-TestEnvironment remains PSModulePath added by Initialize-TestEnvironment"
## Description of Issue

`Restore-TestEnvironment` could not handle `Initialize-TestEnvironment` added path.
## Detail

Initialize-TestEnvironment adding current Test DSC Module's Root Path, which retrieved at here https://github.com/PowerShell/DscResource.Tests/blob/dev/TestHelper.psm1#L347,  to the Machine's PSmodulePath at https://github.com/PowerShell/DscResource.Tests/blob/dev/TestHelper.psm1

[2016-08-02 08:19] PlagueHO commented on #68
@guitarrapc - good catch! Your solution looks like it would work.

Does this work OK for both Unit tests and Integration tests?
Can anyone else think of a reason not to make this change?

Do you want to submit a PR for this?

[2016-08-02 14:09] guitarrapc commented on #68
@PlagueHO It encounter with my resource testing, and Pester test go green with my resolution. https://github.com/guitarrapc/GraniResource/tree/master/Test/Grani_CredentialManager

I doubt any reason with this, but coudln't imagine at all :confused:

[2016-08-03 23:17] kwirkykat commented on #69
Closed in #62

[2016-08-03 23:17] #69 closed

[2016-09-06 02:07] BrianFarnhill opened #73 "Use Pester's TestDrive:/ in tests rather than a custom working directory"
I've been looking through the Initialize-TestEnvironment method getting ready to retrofit this in to SharePointDsc and one of the questions I have about it for unit testing is why it sets up a custom path in the temp directory to save files in when [Pester does the exact same thing already](https://github.com/pester/Pester/wiki/TestDrive). In the cases of unit tests in SharePointDsc that we choose

[2016-09-06 05:46] PlagueHO commented on #73
I can answer this one @BrianFarnhill : when I wrote the original code I didn't knew about TesDrive: - and it hadn't occurred to me to update it. But I see no reason why we couldn't update it to use TestDrive: . Seems like a good idea to me. Good thinking!

[2016-09-06 06:36] BrianFarnhill commented on #73
@PlagueHO Makes sense :) Not sure if/when I'll have time to make the change to this but we can leave this open and make sure that someone gets to it at some point.

[2016-09-06 07:16] PlagueHO commented on #73
@BrianFarnhill - Sounds good to me! If you don't get to it first, I'll get to it eventually. I'll just pop it on the backlog (waaaay back there in the distance) :grin:

[2016-09-06 18:14] kwirkykat commented on #73
@BrianFarnhill Yeah my answer is actually the same as @PlagueHO 's. :smile:  I only just learned about $TestDrive in a PR in xPSDSC this past weekend. I'd love to update the tests/testing framework to use it whenever I get the time......

[2016-09-06 21:04] vors commented on #4
Sorry, didn't have a chance to look at it. I'm clearing the assignee, since I'm not actively working on DscResources at the moment.

[2016-10-28 22:57] LiamFisher92 opened #77 "Empty array error on 'Should end with a new line' test when the file is empty."
The Meta.Tests.ps1 test does not handle empty files and fails with a meaningless error when it comes across one.

[2016-10-28 23:01] TheFish92 commented on #77
Created a PR: #78

[2016-11-16 21:38] kwirkykat commented on #77
Fixed by #78

[2016-11-16 21:38] #77 closed

[2016-12-07 08:41] PlagueHO opened #81 "Script Resource Schema Validation fails if .schema file extension is not all lower case"
If the ".schema" in a *.schema.mof file is not all lower case the common tests - Script Resource Schema Validation will fail. See:
https://github.com/PowerShell/xNetworking/pull/165#issuecomment-265387885

[2016-12-07 16:34] #81 closed

[2017-01-20 21:11] PlagueHO commented on #73
I think this one can probably be closed now because most of the resources have been moved over to use $TestDrive I think. Would that be correct @kwirkykat ?

[2017-01-20 21:58] kwirkykat commented on #73
@PlagueHO Yes. Closing this as most if not all modules are now updated

[2017-01-20 21:58] #73 closed

[2017-01-20 22:00] kwirkykat commented on #40
Closing this issue since this test exists and will now fail when newlines are not present at the end of files

[2017-01-20 22:00] #40 closed

[2017-02-03 20:07] PlagueHO opened #86 "Add Custom PSScriptAnalyzer Test for validating Parameter and Variable naming format"
I've recently been doing some work into creating custom PSSA rules. It should be fairly easy to create some rules that validate the Variable naming conventions (e.g. local variables start with lower case, parameter vars start with upper case).

The basis for the custom rule would be code like this:
[code]

Needs a bit more work but it should be easy enough. If it is worth implementing, then I'm ha

[2017-02-05 22:08] TravisEz13 opened #88 "Add functionality to run pester and Automatically generate code coverage visualization"
- [x] Create a common way for which repo can call pester (#90)
- [x] fix style issues such as putting code blocks starts on new line (where possible). (#116)
- [x] Add a common way to automatically detect code and non-code files for code coverage (#(90)
- [x] ~~Add a way to override code and non-code coverage file detection~~ filed #114
- [x] Add a common way to convert Pester test results object

[2017-02-06 00:20] TravisEz13 opened #89 "The test results are not being populated in AppVeyor when using the common code to upload test results"
Using either the code in the `appveyor.yml` template most projects started with or the code in #85 the test results fail to upload.
You can see this at https://ci.appveyor.com/project/PlagueHO/xNetworking/build/tests is empty.  It started with Pester 4.0.2 as mention in https://github.com/pester/Pester/issues/571#issuecomment-229414202.

I know how to resolve this.  We should also ask if AppVeyor

[2017-02-06 00:22] TravisEz13 commented on #89
Found this when making sure a bug has been filed on AppVeyor

[2017-02-06 00:25] TravisEz13 commented on #89
Also, There is [a work around](https://github.com/PowerShell/DscResource.Tests/pull/87/files#diff-bd6394d499b0c8d58bd248444d66be2dR75) in my PR to examine the $result object and use the AppVeyor PowerShell cmdlets to add the results.

[2017-02-06 21:41] TravisEz13 opened #91 "Common test to verify mofs compile should be run as an it-block"
*[Meta.Tests.ps1, line 430 at r5](https://reviewable.io:443/reviews/powershell/dscresource.tests/85#-KcHA-LQnEcRNo-ZR-cJ:-KcH9chMuYD_yVHnZdAY:brin4og) ([raw file](https://github.com/powershell/dscresource.tests/blob/6e7251ce4edff8bd7dd734b67e5939482635b6e0/Meta.Tests.ps1#L430)):*

If you see here I changed so this is run under an It-block.
https://github.com/PowerShell/xSQLServer/blob/dev/Tests/xS

[2017-02-06 21:45] TravisEz13 opened #92 "Need to improve how we verify an example MOF should compile"
*[Meta.Tests.ps1, line 439 at r5](https://reviewable.io:443/reviews/powershell/dscresource.tests/85#-KcH7MwEsNUf2IUC0Is5:-KcH7MwFbjPsnRbhlbf2:box9oxb) ([raw file](https://github.com/powershell/dscresource.tests/blob/6e7251ce4edff8bd7dd734b67e5939482635b6e0/Meta.Tests.ps1#L439)):*

I can't see this $mockCredential being assigned anywhere?

See
https://github.com/PowerShell/xSQLServer/blob/dev/Tests

[2017-02-07 07:53] PlagueHO opened #96 "Detection of Repo root folder is not working correctly"
Detection of Repo root folder is not working correctly for xNetworking/SharePointDsc repositories:
![2017-02-07_20-45-27](https://cloud.githubusercontent.com/assets/7589164/22682201/686ca354-ed76-11e6-958a-af5642b09514.png)

This bug is in this code here:
https://github.com/PowerShell/DscResource.Tests/blob/dev/Meta.Tests.ps1#L18

This is only a problem for xNetworking/SharePointDsc

[2017-02-07 08:39] johlju commented on #92
I'm working on this one.

[2017-02-07 08:40] johlju commented on #96
This line one should have -Hidden as well I think.

https://github.com/PowerShell/DscResource.Tests/blob/dev/Meta.Tests.ps1#L21

[2017-02-07 08:40] johlju commented on #91
I'm working on this one as well.

[2017-02-07 14:57] johlju opened #98 "Problem with markdown lint errors MD013 and MD024"
In the xSQLServer repo the README.md currently have long lines and using the same header several times (like PSDscResource).

MD013
https://ci.appveyor.com/project/johlju/xsqlserver/build/5.0.342.0#L864
MD024
https://ci.appveyor.com/project/johlju/xsqlserver/build/5.0.342.0#L1139

We have three options as I see it (not taking in account changing the README.md).

1. Add MD013 and MD024 to the .mark

[2017-02-07 15:01] johlju commented on #91
@PlagueHO I have this finished and have tested it on xSQLServer. But would like to test it on a few other modules before sending in the PR. Do you have a suggestion for modules worth testing on. Thinking you done a few rounds of testing already so you would now the best modules to test on. :smile:

[2017-02-07 18:44] johlju opened #99 "Wrong output at the end of the script"
Getting wrong output at the end of the tests I think; System.Management.Automation.PSCustomObject

[code]

https://ci.appveyor.com/project/PowerShell/xsqlserver/build/5.0.838.0#L5389

[2017-02-08 02:08] TravisEz13 opened #100 "'Validate Markdown Files ' common test should be a warning until projects have had time to comply"

[2017-02-08 02:08] TravisEz13 opened #101 "'Common Tests - Validate Example Files' should be a warning until projects have had time to comply"

[2017-02-08 02:19] #100 closed

[2017-02-08 02:19] #101 closed

[2017-02-08 02:30] TravisEz13 commented on #98
I made this test a warning only with #102 due to multiple issues of this type until this can be resolved.

I like option 2 as well.

[2017-02-08 02:32] TravisEz13 opened #103 "make new common tests warnings until repos have opted-in"
There should be a file in each repo that says which common tests the repo has passed.  Those are treated as an error.  Once someone gets that test passing they add the test to the file so that regressions will cause a failure.

[2017-02-08 02:33] TravisEz13 opened #104 "Once repos have fixed example make the 'validate example files' test a failure"
This is related to #103

[2017-02-08 03:17] TravisEz13 commented on #98
I'm also having issues getting MD002 and MD041 fixed.
https://github.com/PowerShell/xWindowsUpdate/pull/41#issuecomment-278217434
[code]
but line 1 is a top level header and 17 isn't the first header.

Option 2 would allow me to disable these rules, but feel free to take a look and see what I did wrong in the markdown.

[2017-02-08 04:09] TravisEz13 commented on #103
You can find what test is currently running using this code
[code]

[2017-02-08 08:26] PlagueHO commented on #98
I'd go with Option 2 as well. Although like the PSSA rules it might be worth limiting the rules that can be suppressed.

Although because VSCode automatically underlines in red all MD violations regardless of any "suppression" we might add, it is sort of hard to identify violations of the other rules. So IMHO it is a better idea to solve all rule violations

Once you move over to (assuming you are

[2017-02-08 08:45] PlagueHO commented on #91
Hi @johlju - I've tested/done the following:
- xNetworking - complete and PR submitted (waiting review).
- xStorage (but also moved it over to the new xNetworking/SharePointDsc layout with Autodocumentation). However, the Pester 4.0.2 bug prevents the tests from failing so I can't submit till it's fixed.
- xCertificate - I will do this one, but I'm still in process of implementing the Cert Export

[2017-02-08 09:07] PlagueHO commented on #91
@johlju - one further thing on this: it might be a good idea to raise an issue on each repo that we're currently moving over to this new model so we don't duplicate work.

[2017-02-08 09:35] PlagueHO opened #106 "Suppressing the Example Tests results causes "Pending" test results which AppVeyor won't accept"
I think we might be running into a problem with the suppressed Example validation tests:
https://ci.appveyor.com/project/PlagueHO/xnetworking/build/3.1.513.0#L2202

They seem to output a test result value of "Pending" which AppVeyor is rejecting.

Looking at the message, Pending is not valid. The valid values are:
None, Running, Passed, Failed, Ignored, Skipped, Inconclusive, NotFound, Cancelled,

[2017-02-08 09:42] PlagueHO commented on #106
I'm not sure why this is happening, because in the TestResults.xml this shows ```Result='Inconclusive'``` - not ```Result='Pending'``` - which should be fine.

I'm out of time tonight so I'll try and look into this tomorrow.

[2017-02-08 13:07] #96 closed

[2017-02-08 13:21] TravisEz13 opened #108 "The markdown validation test will fail if the MD is UTF8 with BOM"
We should probably have a validation test for this.

[2017-02-08 13:31] #106 closed

[2017-02-08 13:59] johlju commented on #91
@PlagueHO I will test my changes on xNetworking and SharePointDsc, which have examples and currently are working (not sure about SharePointDsc). For now I just want to test the examples test changes I did.

@PlagueHO I think if we start fixing to the new pattern in a repo it would be good idea to add an issue. If there is no issue then nobody is working on it. :)

[2017-02-08 17:41] johlju commented on #91
@PlagueHO Well that did not work to test in those. Since the use the harness. :) I send in the PR anyway and we'll see what you think of it.

[2017-02-08 22:33] #103 closed

[2017-02-08 22:33] #104 closed

[2017-02-08 22:56] tysonjhayes commented on #91
I am working on xWebAdministration, been sick the last few days so I'm a bit behind. 😁

[2017-02-09 06:30] PlagueHO commented on #91
@tysonjhayes - Hope you're feeling better bud! :grin:

@johlju - my fork of xStorage uses Harness as well. My fork of [xComputerManagement](https://github.com/PlagueHO/xComputerManagement) doesn't though. You could try that one? It also has examples that have credentials etc so it would be a great test I reckon.

[2017-02-09 06:49] PlagueHO commented on #89
@TravisEz13 - is this one resolved now? Your work around is in and it seems to be working.

[2017-02-09 07:14] TravisEz13 commented on #89
fixed in #90

[2017-02-09 07:14] #89 closed

[2017-02-09 07:32] PlagueHO opened #112 "Error occurs when Markdown tests enabled but NPM not available"
The following error occurs:
![2017-02-09_20-20-41](https://cloud.githubusercontent.com/assets/7589164/22773291/2e30ae42-ef06-11e6-90e7-f7d7fcc2244d.png)

[2017-02-10 23:59] kwirkykat commented on #98
I would prefer that both MD013 and MD024 were disabled. They should be disabled in this central repo, but with the option 2 to overwrite them if necessary.

[2017-02-11 19:34] PlagueHO commented on #98
@kwirkykat - as long as we can enable these rules on a repo basis, I'm ok with that - because we've put quite a bit of time making sure MD013 and MD024 are met on xNetworking, xStorage etc so we'd want to be able to keep enforcing this rule.

[2017-02-11 19:37] TravisEz13 opened #114 "In AppVeyor.psm1 there should be an option to change how we detect the files that need code coverage"
The task to do this in #88 was added because I was going to write the code to do the detection of the files that needed code coverage.  Since this was community provided.  Let's assume it's sufficient.  I'm filing thing just to keep the idea in mind and open it to a discussion.

[2017-02-11 21:45] TravisEz13 opened #115 "MD029 - Ordered list item prefix rule should be configured to enforce the style `one'"
https://github.com/DavidAnson/markdownlint/blob/v0.3.1/doc/Rules.md#md029---ordered-list-item-prefix

The `ordered` style requires manually renumbering lists.

The `one` style is more automatic and the preferred style of the PowerShell/PowerShell project.

[2017-02-12 01:50] #112 closed

[2017-02-12 18:42] johlju commented on #91
@PlagueHO I will test your branch of xStorage tomorrow!

[2017-02-12 20:00] ryanspletzer opened #118 "Get-ClassResourceNames cmdlet is used in Meta.Tests.ps1 but doesn't exist"
At [line 195](https://github.com/PowerShell/DscResource.Tests/blob/dev/Meta.Tests.ps1#L195) in Meta.Tests.ps1, it should be Get-ClassResourceNameFromFile instead and exported function should match. PR with fix coming shortly.

[2017-02-13 02:33] ryanspletzer opened #120 "Allow "*Passphrase" or arbitrary parameter name for $mockCredential in Examples"
[Line 458 in Meta.Tests.psm1](https://github.com/PowerShell/DscResource.Tests/blob/dev/Meta.Tests.ps1#L458) perhaps should be altered to look for $_ -like "*Passphrase" so that multiple Passphrase credential objects can be mocked out like for example "PfxImportPassphrase" and "FarmPassphrase".

Or, perhaps it could be altered to look for any pscredential object in the command parameters so any nam

[2017-02-13 06:39] PlagueHO commented on #91
@Johlju - cool!  I've forced my xStorage branch to use the older Pester version (without all the bugs):
https://github.com/PlagueHO/xStorage/tree/Use-AppVeyor-Module

[2017-02-13 15:49] johlju commented on #91
@PlagueHO Work like a charm:  https://ci.appveyor.com/project/johlju/xstorage/build/2.9.1.0#L726

[2017-02-13 15:59] johlju commented on #120
Thanks for submitting this issue! I add this to the PR #110. This is needed for SharePointDsc as well.

/cc @PlagueHO @TravisEz13

[2017-02-14 00:52] #118 closed

[2017-02-14 00:53] #88 closed

[2017-02-14 06:28] TravisEz13 opened #122 "Deploy CodeCov.io code coverage reporting to an active pilot repo"
We should deploy the support to an active repo that is high quality, or we are trying to get to high quality.

We should get the repo using `appveyor.psm1` first.

@PlagueHO @tysonjhayes @brianfarnhill @johlju, Can you ping me when you have integrated `appveyor.psm1` or if you need help getting that done?

## Example of codecov.io
Here is PR in xWindowUpdate where I increased the code coverage:
ht

[2017-02-14 06:31] TravisEz13 commented on #68
It should work... I worked around the same issue my forcing the process execution policy on PowerShell startup.

[2017-02-14 06:33] TravisEz13 commented on #99
I think I blindly copied this from my prototype code to help debug certain issues... it should be changed to a write verbose...

[2017-02-14 06:39] PlagueHO opened #123 "Add Default Values for HarnessFunctionName and HarnessModulePath in AppVeyor\Invoke-AppveyorTestScriptTask cmdlet"
This will simplify the AppVeyor.yml in resources that use a Test Harness if they choose to use the standard names. It will be up to each resource maintainer if they use the defaults or override them. xNetworking, xStorage etc will be changed to use standard names. I think @johlju is also planning to make xSQLServer use the standard names. Unsure about SharePointDsc.

The values will default to:
[c

[2017-02-14 06:45] PlagueHO commented on #122
@TravisEz13 - I'm definitely up for putting this into xNetworking and/or xStorage (both are close to HQRM and working towards it). I was planning on implementing it anyway because it is very awesome.

I'll do this once my PR's go through that bring these resources to use the latest DSCResource.Test changes.

[2017-02-14 22:56] tysonjhayes commented on #122
I should be able to work on this once Powershell/xWebAdministration#290 gets merged.

[2017-02-15 05:38] TravisEz13 commented on #122
@johlju I'll put a PR together for xSQLServer.  It will probably be tomorrow.

[2017-02-15 05:41] johlju commented on #122
Awesome! Thanks!

[2017-02-15 07:55] PlagueHO commented on #122
@TravisEz13 - I've added the CodeCov.io stuff to my open PR's in xStorage and xNetworking. So hopefully they'll go through soon (although I need [this PR](https://github.com/PowerShell/DscResource.Tests/pull/124) though first).

[2017-02-15 16:13] #123 closed

[2017-02-20 04:23] TravisEz13 opened #127 "CodeCov.io is failing when the case on the filesystem does not match git"

[2017-02-20 04:29] #127 closed

[2017-02-21 07:34] PlagueHO opened #128 "Wiki Page Generation fails if MOF File contains "class" anywhere else in except Header"
This is due to a bad regex in this line:
https://github.com/PowerShell/DscResource.Tests/blob/dev/DscResource.DocumentationHelper/MofHelper.psm1#L75

It should be:
[code]

So that it only matches the word class if it appears at the beginning of a line.

I'll submit a PR.

[2017-02-21 22:14] #91 closed

[2017-02-21 22:14] #92 closed

[2017-02-21 22:14] #120 closed

[2017-02-22 07:37] PlagueHO opened #130 "DocumentationHelper produces Wiki Markdown that violates Markdown Rules"
The _Parameters_ and _Examples_ headers are produced as Emphasis rather than Headers which violates MD036.

MD041 is also violated because a H1 is not the first line of the file.

Will submit a PR to fix this.

[2017-02-22 08:11] PlagueHO commented on #130
Screenshot of violations:
![image](https://cloud.githubusercontent.com/assets/7589164/23202574/67ac305a-f943-11e6-8c54-972bc9ff283c.png)

[2017-02-23 01:45] TravisEz13 commented on #122
This is done on xSqlServer.  Closing.  Thanks everyone!

[2017-02-23 01:45] #122 closed

[2017-02-23 06:52] BrianFarnhill commented on #122
@TravisEz13 I know you closed this one, just letting you know I have it working in a branch of SharePointDsc and will merge it to our dev branch shortly. Awesome work dude

[2017-02-23 17:09] TravisEz13 commented on #122
@BrianFarnhill thanks, Yeah this was just to deploy one (a pilot)

[2017-02-23 23:07] TravisEz13 opened #132 "Code file detection for CodeCoverage is off"
PSDscResources has a code file that that is not covered when you add the `-CodeCoverage` switch to  ` Invoke-AppveyorTestScriptTask`
![image](https://cloud.githubusercontent.com/assets/10873629/23283215/b27446a4-f9d9-11e6-8d98-bdc1eafbd180.png)
https://codecov.io/gh/PowerShell/PSDscResources/pulls/42/diff

[2017-02-23 23:17] #132 closed

[2017-03-24 21:14] PlagueHO opened #135 "Improve Autodocumentation Code to Indicate when a parameter is an Array"
The Autodocumentation code doesn't produce a parameter list that indicates when parameters can be arrays:
![image](https://cloud.githubusercontent.com/assets/7589164/24313919/d6bd57c2-1143-11e7-9dd2-4e74075e06f7.png)

This should be easy enough to resolve. I'll take a look and submit a PR.

[2017-03-24 23:09] #128 closed

[2017-04-24 17:42] #130 closed

[2017-05-01 11:45] johlju opened #138 "When tests fail the Tests-view in AppVeyor is not updated with the error message"
Suggest we update change to that error message and stack trace are also submitted to AppVeyor after test run.

Example screenshot:
https://ci.appveyor.com/project/johlju/xsqlserver/build/5.0.558.0/tests

![image](https://cloud.githubusercontent.com/assets/7189721/25578930/736e90ee-2e73-11e7-9ad0-d436e475c49d.png)

[2017-05-04 18:54] #135 closed

[2017-05-04 19:47] #138 closed

[2017-05-12 22:28] #108 closed

[2017-06-03 18:00] johlju opened #140 "Unable to use AppVeyor build worker 'Visual Studio 2017' because of failing when installing Pester 4.x"
When the build worker does not have WMF 5.1 the common test for module manifest will fail when a module contains class based resources.

https://ci.appveyor.com/project/PowerShell/xsqlserver/build/5.0.1215.0#L202
[code]

A quick fix for this is to use a build worker that contains WMF 5.1, like the image 'Visual Studio 2017'. But because Pester 3.4.0 is installed default on build worker 'Visual Stu

[2017-06-03 18:01] johlju commented on #140
@PlagueHO, @mbreakey3 and @kwirkykat do you see any issues with this suggestion? Or do you have any other suggestions?

In the meanwhile, as a workaround for this particular case (PR https://github.com/PowerShell/xSQLServer/pull/593) I will try to use the same code to install WMF5.1 as PSDscResources does.

[2017-06-06 09:17] PlagueHO commented on #140
This seems OK from my perspective. I've had to do this on a number of my WS2016 servers now as well because of Pester being preinstalled and signed.

[2017-06-07 17:42] PlagueHO opened #142 "Add a Function to Helper Module to automatically upload *_wikicontent.zip to GitHub"
For the DSC Resources with autodocumenting/wiki content, this content has to be manually uploaded when the module is released. The Wiki content is published as an AppVeyor artifact using the CI process.

However, being manual it is error prone and not a good use of time.

GitHub provides a mechanism where the content can be uploaded by using a Git Clone/Git Push:
https://help.github.com/articles/a

[2017-06-21 12:33] johlju opened #143 "Test for Byte Order Mark (BOM) on module files"
Module files (.psm1) should be UTF-8, and not UTF-8 with BOM.
https://github.com/PowerShell/DscResources/blob/master/StyleGuidelines.md#correct-file-encoding

I have at least one resource that has BOM in it's module file, in xSQLServer.

Should we do a check for BOM for this files as well, like we do with markdown files?
Any other file types?

[2017-06-23 21:22] PlagueHO commented on #143
This gets my vote.

[2017-07-02 22:16] BrianFarnhill opened #144 "Issue with file length in validate examples script"
We are seeing an error in the common tests for the example validation in SharePointDsc - [See example](https://ci.appveyor.com/project/PowerShell/sharepointdsc/build/1.7.0.869#L8322).

I previously touched up this code to get it to ignore the node_modules folder, but I think that isn't cutting it here anymore. I believe it could be the hidden .git directory causing us some grief this time, but I'm

[2017-07-03 10:09] johlju commented on #98
MD024 seems to be handle better by GitHub now. Saw that the other day. GitHub seems to have started to handle them by adding a number after each header that are similar. I haven't seen this before, but might have missed it.

Example in the README.md of the PSDscResources, for the Parameters header.

First: https://github.com/PowerShell/PSDscResources#parameters
Second: https://github.com/PowerShel

[2017-07-03 13:44] johlju commented on #144
I guess the problem we are discussing is on [line 473-481](https://github.com/PowerShell/DscResource.Tests/blob/dev/Meta.Tests.ps1#L473-L481).

Option B works for me, but for repositories not using "harness"-model (having the module in a separate folder) we would need to do option A as well, since node_modules folder and .git is in the same folder as the .psd1 file.

[2017-07-03 22:18] BrianFarnhill commented on #144
@johlju Yea that's the right bit, I left that out! (This is why I shouldn't raise issues in the morning lol)

But you're right, I was making an assumption that the non-harness modules would be smaller and therefore less likely to have an issue - but it makes sense to have elements of both here. OK I'll see if I can find some time to code up and test some changes and then go from there.

[2017-07-04 06:13] johlju opened #145 "Validating localization files"
I think we need a common test that validates the localization strings. With that I mean a test that takes the English localization file and then verifies that against all the keys in the other localization files. This is to find missing keys in either files.

[2017-07-04 11:35] johlju commented on #98
I sent in a PR for this in PR #146.

[2017-07-05 21:31] #140 closed

[2017-07-06 08:26] johlju commented on #144
@BrianFarnhill I see you are working on this now, I thought I would help you out with this one.

The code I got

[code]

Tested here (note, removed all unit test and integration test to speed up AppVeyor):
https://ci.appveyor.com/project/johlju/sharepointdsc/build/1.8.1.11#L1442

[2017-07-06 08:26] johlju commented on #144
My working branch is here
https://github.com/johlju/DscResource.Tests/tree/fix-example-common-tests

[2017-07-06 09:46] johlju commented on #140
Oh... This was bad. 😞 Does older PowerShell actually not that parameter on Install-Module?

https://ci.appveyor.com/project/PowerShell/xfailovercluster/build/1.6.150.0
[code]

I will send in a PR to fix this...

[2017-07-09 12:41] johlju commented on #115
I thought I'm gonna look into fixing this one as soon as PR #146 has merged. With PR #146 there will be a faster way to override this change per module basis until the specific module can be complaint.

[2017-07-10 18:52] johlju opened #149 "Enable the test environment to be able to run unit test for class-based resources"
I suggest we enable the test environment to be able to run unit test for class-based resources located in the folder 'DscClassResource'.

[2017-07-10 23:51] #98 closed

[2017-07-11 08:47] PlagueHO opened #151 "Repository .markdownlint file is being ignored for Autodocumentation Repos"
@johlju - it looks like there is a problem with the change to use the .markdownlint file from the root of a repo when used with the Autodocumentation repos (xNetworking, xStorage, xDFS, SharepointDsc).

E.g. xStorage contains a .markdownlint.json file in the root of the repo, but it is being ignored. See:
https://ci.appveyor.com/project/PowerShell/xstorage/build/2.9.237.0#L2095

I'll do some inves

[2017-07-11 08:54] PlagueHO commented on #151
Sorry, please disregard this @johlju - this isn't an issue. I was looking at the wrong file.

[2017-07-11 08:54] #151 closed

[2017-07-11 13:55] johlju commented on #143
Working on this now.

[2017-07-11 14:21] johlju commented on #4
@kwirkykat The helper function ConvertTo-SpaceIndentation doesn't seem to exists anymore. But it's referenced in the test here https://github.com/PowerShell/DscResource.Tests/blob/dev/Meta.Tests.ps1#L94

Should we replace the text 'ConvertTo-SpaceIndentation' with something else, , or should be create a fixer function again, or should we remove the sentence entirely from the test? I suggest removi

[2017-07-11 17:24] #144 closed

[2017-07-11 21:27] kwirkykat commented on #4
@johlju I agree. Just remove the text

[2017-07-11 23:09] kwirkykat commented on #142
@PlagueHO Yeah I can add it to the release script. You have any preference on what repo I try it out on first?

[2017-07-11 23:21] PlagueHO commented on #142
@kwirkykat - awesome! I'll get the script created and submit a PR into this repo as a "Helper" function. That way it could be community reviewed etc. I just wanted to check that this would be useful before creating it.

[2017-07-12 07:33] BrianFarnhill commented on #142
I'll help test it with SharePointDsc if you like guys - just let me know

[2017-07-12 08:19] PlagueHO commented on #142
Awesome, thanks @BrianFarnhill - I'll put it together tomorrow.

[2017-07-12 19:49] PlagueHO opened #156 "Common Tests - PS Script Analyzer should also be run on Shared Modules with OptIn Support"
The _Common Tests - PS Script Analyzer on Resource Files_ test should also be run on the common modules/shared code in resource modules.

Initially this should be an OptIn function as I'd expect many modules will fail initially.

[2017-07-12 20:39] PlagueHO opened #157 "The test Common Tests - Validate Example Files will fail if other Resources are required"
For example, in xCertificate one of the examples uses xWebAdministration. The example validation fails because the module isn't installed on AppVeyor.

E.g.
https://ci.appveyor.com/project/PlagueHO/xcertificate/build/2.3.74.0#L156

There are several ways this could be resolved that I can see:
1. In the AppVeyor.yml for xCertificate (or any other resource with this problem) import xWebAdministratio

[2017-07-12 20:58] johlju commented on #157
I would feel that it's better to add any dependent modules in the AppVeyor.yml. Because I think we should not install modules on the users computer, potentially break something. I think, If the user should run the test they should install the modules themself.

Does this work? Is it possible in the example file add a if-block to evaluate if the module has been installed. If it has it imports the r

[2017-07-12 23:02] PlagueHO commented on #157
Hi @johlju - I agree - definitely don't want to change a users computer without warning them.

I've created a function that will use the AST to get all the resources imported into a config - it just returns an array of modules. We could then use this list to either warn a user that the tests will fail until the module is installed or if the environment is AppVeyor then we can install the modules a

[2017-07-12 23:03] PlagueHO commented on #157
And just FYI: here is the function I created to retrieve the list of resources in a Config:
[code]

[2017-07-13 06:04] PlagueHO commented on #157
So what I've done is modified the 'Common Tests - Validate Example Files' test so that it will identify any resource modules that are required but missing from the machine. If the machine is an AppVeyor one it will just install them and continue the tests - but if the machine is a user machine it will warn the user but continue the test (which will fail):
![image](https://user-images.githubusercon

[2017-07-13 12:10] johlju commented on #157
@PlagueHO I'm totally okay with your solution. Awesome work! 😃

I think this will help us when we need to add xFailOverCluster resource in the examples for xSQLServer!

[2017-07-13 20:20] #115 closed

[2017-07-13 20:40] #4 closed

[2017-07-15 11:44] johlju opened #160 "Test for Byte Order Mark (BOM) on script files (.ps1)"
Script files (.ps1) should be UTF-8, and not UTF-8 with BOM.
https://github.com/PowerShell/DscResources/blob/master/StyleGuidelines.md#correct-file-encoding

I saw that there is tests script files that has BOM on them in xSQLServer.

I suggest we add another check for BOM on script files (.ps1). And make that Opt-In as well.

Opt-In using:
[code]

[2017-07-16 21:23] PlagueHO commented on #160
Sounds good to me.

[2017-07-16 23:24] PlagueHO commented on #142
Haven't got round to this one yet. Will see if I can get to it this week. Sorry!

[2017-07-17 23:26] PlagueHO opened #161 "Enable Opting In to Failing on Required and Flagged PSSA Rules"
Currently DSCResource.Tests ignores any PSSA required or flagged rules because:
| Automatically passing this test since it may break several resource modules at the moment. Automatic pass to be removed Jan-Feb 2017.

This was obviously meant to be removed in Jan-Feb 2017 but has not been.

What I propose is that we add some more Opt in settings:
Common Tests - Required Script Analyzer Rules
Common

[2017-07-18 07:03] PlagueHO commented on #86
I've put together a first cut of this feature. It has been submitted here: https://github.com/PowerShell/DscResource.Tests/pull/162

[2017-07-18 09:04] johlju commented on #145
I was about to start coding this when I saw @PlagueHO send in PR #162. With that I want to extend this a bit. I would like to add the following checks.

* Does all localization keys exist (in en-US) that are used in the resource?
* Does localization strings (in en-US) contain extra keys?
* Does all other localized languages (se-SV, de-DE, es-ES and so on) have the same keys as the en-US localized

[2017-07-18 09:51] johlju commented on #161
I'm happy they were not changed so they started to fail, because there is still a backlog in xSQLServer to fix these. :) It feels like we have fixed technical debt for more than half a year in that module.

So i'm all for these being opt-in!

[2017-07-19 19:07] #143 closed

[2017-07-20 12:19] johlju commented on #149
This was fixed in PR #150. This was not auto-closed for some reason.

[2017-07-20 12:19] #149 closed

[2017-07-20 12:40] johlju commented on #32
@PlagueHO What's the status of this issue? Still a problem?

[2017-07-20 14:47] #99 closed

[2017-07-21 09:32] PlagueHO commented on #32
@johlju - I think we can close this one - pretty sure it is resolved.

[2017-07-21 09:32] #32 closed

[2017-07-21 16:00] #157 closed

[2017-07-21 21:43] #160 closed

[2017-07-22 11:13] johlju commented on #61
@PlagueHO 8 I saw this issue now. Maybe we should change the function `Test-FileHasByteOrderMark` to what @nzspambot suggest (replace with Test-FileIsUtf8WithoutByteOrderMark), and change all the "BOM"-tests to "file is not UTF-8"-tests?

[2017-07-22 11:45] johlju commented on #30
I have started to add tags on some of the tests, those tests that are opt-in. But the tags are more for debugging purposes. So I don't have to run all the tests when changing a particular test, but instead can run that specific group of tests. We could add tags on the rest of the describe blocks as well. for debugging purposes.

Adding tags for bigger scenarios without have an actual use case seem

[2017-07-22 11:59] johlju commented on #68
@mbreakey3 I think this can be closed. This seems to have been fixed for over 8 months ago.
https://github.com/PowerShell/DscResource.Tests/commit/2c54c4f4b815eecc742f69a601f8df09ec9af6c8#diff-25348f900c7839eeb1b52cf0a105623bR338

[2017-07-22 16:39] guitarrapc commented on #68
I checked source code and agree with @johlju . Let's close.

[2017-07-22 16:39] #68 closed

[2017-07-23 03:04] PlagueHO commented on #30
@Johlju - I think this issue is still relevant - but it has been a while? It would be good to get a user story together for this to figure out what is best.

Perhaps what @mgreenegit might have been talking about was defining a list of common tags like:

- Full
- Smoke

And then specifying which groups each of the core test should be included in?

But I'm not 100% sure. This was over a year ago af

[2017-07-23 12:27] johlju opened #166 "Markdown test: node_modules is not able to be deleted when path contains an apostrophe"
The node_modules is not able to be deleted when path contains an apostrophe. This is because the package 'rimraf' that is used to delete the folder does not support it.
 It is also deprecated; https://www.npmjs.com/package/gulp-rimraf.

I'm working on a fix for this. I had code previously in xSQLServer that installed and uninstalled all packages. Then there is no need for the package.json file eit

[2017-07-23 12:28] johlju commented on #166
Note, if the node_modules is not remove. The second run of Invoke-Pester will incorrectly test a lot of files in the nodes_modules folder.

[2017-07-23 13:09] johlju commented on #166
This hopefully helps to resolve issue https://github.com/PowerShell/DscResources/issues/287.

[2017-07-24 12:03] johlju opened #168 "Integration tests that depend on other modules fail"
When building integration tests which depends on other resources in other modules, those fail because they don't exist on the build worker. I could download them prior to running the tests, but thinking if we could re-use the same logic that was introduced for examples in in PR #163.

For this integration test I want the test code to automatically install the dependent modules xStorage and PSDscRe

[2017-07-24 15:24] #86 closed

[2017-07-24 15:33] johlju opened #169 "DscResource.AnalyzerRules.psm1 has Byte Order Mark (BOM)"
DscResource.AnalyzerRules.psm1 has Byte Order Mark (BOM) and fail tests in repos that has opt-in for module files common test.

[code]

[2017-07-24 15:34] johlju opened #170 "Run common tests on DscResource.Tests repository"
I think we need to add so that we run common tests on this repository. This would prevent issue like #169.

[2017-07-24 15:46] #169 closed

[2017-07-25 07:46] PlagueHO commented on #170
Yep - agreed. I think we'd also want to implement a really basic AppVeyor.yml file to run the validation checks.

[2017-07-25 07:47] PlagueHO commented on #168
We could move the code that optionally installs or warns the user to a new function so that it can be resused. Shouldn't be too difficult.

[2017-07-25 13:11] johlju commented on #168
I will see if I can get this done

[2017-07-25 13:44] johlju commented on #168
I have moved the code to a separate helper function (also found a bug with 'Version' that I fixed, see [line 1213](https://github.com/johlju/DscResource.Tests/blob/automatic-install-tests-dependencies/TestHelper.psm1#L1213)).

Looking how the Pester tests are run, my thought is to do the following.

* Before calling Invoke-Pester. Loop thru all the *.config.ps1 files (`Get-ChildItem -Path '*.confi

[2017-07-25 15:04] johlju commented on #168
Proposed a change in PR #172.

[2017-07-25 15:26] johlju opened #173 "Pester code coverage does not account for the DSCClassResources folder"
Currently code coverage only scan these folders for code.

[code]

[2017-07-25 15:31] johlju commented on #170
I working on this. See if I can fix this. :)

[2017-07-25 16:55] johlju commented on #170
I have found a solution to use DscResource.Tests to test it self. But I have to get some changes in for this to work. So I will send in two PR's.

* The first PR will change the code so it is possible for the second PR to pass the tests . Just minor fixes.
* The second PR will actually be the one that enables the testing, by adding an AppVeyor.yml.

[2017-07-25 17:49] johlju commented on #170
@kwirkykat is it possible to turn on AppVeyor for this repo so that PR #175 can work?

[2017-07-25 17:50] johlju commented on #170
@mbreakey3 is it possible to turn on AppVeyor for this repo so that PR #175 can work?

[2017-07-26 09:26] PlagueHO commented on #61
@johlju - I'd completed forgotten about this one - and missed @nzspambot 's comment! Doh! But I think we should add this code as a helper function and then we could recreate some of the tests to ensure the correct encoding is always included.

[2017-07-27 08:38] johlju opened #176 "PSScriptAnalyzer writes unnecessary warning when using custom rules"
When running PSSA Custom rules it outputs a warning. This is probably PSScriptAnalyzer that is doing something (doing a `Write-Host` or similar? Just guessing).
If it is PSScriptAnalyzer, is it worth opening up a issue in that repo?

More information from @PlagueHO in PR #162.

[code]

_Opening this issue to track this._

[2017-07-28 01:39] PlagueHO commented on #176
I was thinking about this yesterday. I think it is actually calling `Update-Help`.  I've no idea what is calling the `Update-Help` (PSSA maybe?).

I plan to do some investigation on this over the weekend. Worst case scenario I might be able to suppress this call to `Update-Help` with a Mock. But I just can't figure out what/why it would be called.

[2017-07-28 04:35] johlju commented on #176
It must be something when PSSA is called with the CustomRulePath parameter. I thought I could follow the C# code and see what it does, but didn't have time to look into it.

Might not be related, but I saw they had the same issue over at PSake and apparently it showed this warning when they called Write-Host in one scenario. So maybe this warning is printed when some command tries to do something

[2017-07-28 06:34] PlagueHO commented on #176
You may be right - the actual command that is being run may just be a red-herring. I'll see if I can track it down this weekend.

[2017-07-28 10:10] johlju opened #177 "Test so that links in markdown can be resolved"
I think it would be good to have a test that verifies that links in markdown files can be resolved.

I'm not entirely confident that this can test all possible links. For example this URL with an anchor (header) will not give an error when resolved, but are wrong
[code]
Possible we could look for a header in the page to verify that the anchor exist.

[2017-07-31 08:47] PlagueHO opened #179 "Files missing in Resource Nuget Package for Harness type Resource Modules"
As picked up by @johlju , the LICENSE.MD and README.MD files from the repository are not being included in the Nuget package created by the `Invoke-AppveyorAfterTestTask`.

I'll take a look at this problem this week and submit a PR with a solution.

[2017-07-31 11:44] johlju commented on #27
@PlagueHO I gave this a try to fix this one with PSSA custom rules. But can't seem to get it to report warnings in AppVeyor. 😞 I can see it being called three times as expected [in Appveyor here](https://ci.appveyor.com/project/johlju/xfailovercluster/build/1.6.177.0#L272).
Actually, when adding my code, the parameter custom rule stops working as well. But if I start `Invoke-ScriptAnalyzer` locall

[2017-07-31 12:41] johlju commented on #27
@PlagueHO When stripping code from the first function `Measure-FunctionBlockBraces` called by `Invoke-ScriptAnalyzer` the parameter rule is started to work again. It seems the code does something wrong at one point, maybe throws an error which is not shown anywhere. And that cause everything to fail.
Very strange that this works locally though. Investigating further. If you see something obvious I

[2017-07-31 16:06] johlju commented on #27
This one is making me scratch my head. 😄

So it seems that the the file locally has '\r\n' in the file, while the cloned one in AppVeyor has '\n'. Making sure the file is the same (replaced to '\n') regardless where it was run made thing to start work. Also, add check so it doesn't try to index into arrays that aren't long enough, that was one bug for other files than the one I tested on, but it w

[2017-08-02 07:15] johlju commented on #27
Finally! This was me being a newbie with Script Analyzer (and AST). The problem was that it calls the measure function for each script block. I thought that was the entire file because that is how it behaved locally. But in AppVeyor it was called first for the entire file, then for each function statement script block (why it didn't do that locally is still a mystery).
This has been nagging me for

[2017-08-02 07:33] PlagueHO commented on #176
It looks like this was an issue in versions of PSSA prior to 1.2.0. It looks like they fixed this in v1.2.0 (see [CHANGELOG.md](https://github.com/PowerShell/PSScriptAnalyzer/blob/development/CHANGELOG.MD#120---2015-12-16)).

I think the solution here is to check for the version of PSSA installed and either recommend the user upgrades (if in user mode) or force an update if in AppVeyor.

[2017-08-02 07:55] PlagueHO commented on #176
Ignore previous comment. This problem was only identified but was not fixed. A solution has been identified.

See https://github.com/PowerShell/PSScriptAnalyzer/blob/development/Engine/ScriptAnalyzer.cs#L1120

What I'll do is set the registry key HKLM:\Software\Microsoft\PowerShell\DisablePromptToUpdateHelp to 1 when running in AppVeyor. This should suppress the warning.

[2017-08-08 00:14] #170 closed

[2017-08-08 17:23] #166 closed

[2017-08-11 23:54] #176 closed

[2017-08-13 15:04] johlju opened #184 "Running integration test that are dependent on another integration test"
When doing integration tests in xSQLServer I would really like to be able to control the order the integration tests are run.
The first integration tests that should run is "install" using xSQLServerSetup, then all other integration test follow that. The first xSQLServerSetup integration tests sets up all the accounts and installs an instance to run tests on.

I like the order to something like th

[2017-08-14 16:23] johlju commented on #184
I'm moving the `$ConfigurationData` variable to the '*.config.ps1' file, and gonna look at making the DscResource.Tests handle a property `DscIntegrationTestOrder` in the `$ConfigurationData`  hash table variable, in the AllNodes key (`$ConfigurationData.AllNodes.Order`).
If the property `DscIntegrationTestOrder` exist in `$ConfigurationData.AllNodes.`  it will use that order, if the config file d

[2017-08-16 08:43] johlju commented on #184
I got this going. I will write documentation around this, an look over the code once more and then I will send in a PR for this.

Invoke Pester with all the tests in the right order;
https://ci.appveyor.com/project/johlju/xsqlserver/build/6.0.852.0#L42

Now the tests run in the correct order:
https://ci.appveyor.com/project/johlju/xsqlserver/build/6.0.852.0#L1643

_The integration test is still fa

[2017-08-16 09:16] indented-automation opened #185 "Simplify Measure-ParameterBlockParameterAttribute"
The Measure-ParameterBlockParameterAttribute script analyzer rule may be simplified in a number of different ways.

## Target ParameterAst (option)

Changing the initial accepted type to ParameterAst will offload finding viable AST nodes to script analyzer.
[code]
## Target FunctionDefinitionAst (option)

Moving selection up one level allows the rule to explicitly target Get/Set/Test-TargetResourc

[2017-08-16 11:13] PlagueHO commented on #185
Hi @indented-automation - great info and details. A couple of questions:
1. Why would we need the filter to limit the parameter blocks being validated? All functions should meet these standards - not just *-targetresource.
2. `Measure-Something` is used to match what is used by the PSSA team in their samples (https://github.com/PowerShell/PSScriptAnalyzer/blob/development/Tests/Engine/samplerule/s

[2017-08-16 11:28] johlju commented on #185
When I read this, the PR #180 should be refactored according to this as well. Sounds like it could be less code.

[2017-08-16 11:30] ChrisLGardner commented on #185
The problem I discovered with the current method (which I asked @indented-automation for a little bit of advice on) was in the xSqlServer resources as some of the helper methods make use of ParameterSetName ([relevant issue](https://github.com/PowerShell/xSQLServer/issues/727)).

This causes the rule to fail as it no longer matches the requirement of `[Parameter(Mandatory = $true)]`, to resolve th

[2017-08-16 11:42] indented-automation commented on #185
1. As described by @ChrisLGardner, utility functions may wish to leverage a pipeline or a parameter set name and with this they are also required to use SuppressMessage. I would argue that this is perhaps a little over-zealous.

2. I read that one when I was writing my own rules. Measure seemed to be picked out of a verb-bag. As the existing script analyzer rules (aside from the small community ex

[2017-08-16 21:50] PlagueHO commented on #185
@ChrisLGardner, @indented-automation - I totally understand the reasoning and makes perfect sense. @indented-automation 's code is very elegant. I definitely prefer the solution that supports multiple attributes in the `[Parameter()]` block for all functions (like you've implemented I think). It seems more elegant because it'll still validate non *-TargetResource functions as well as support other

[2017-08-17 07:29] johlju commented on #185
@indented-automation I agree with @PlagueHO, please send in a PR for this. :)

[2017-08-17 09:41] indented-automation commented on #185
Created PR #187.

[2017-08-17 09:53] indented-automation commented on #185
I had a thought while putting this together. This feels like two distinct rules within the confines of a single rule.

1. The first pseudo-rule tests for the presence, placement, and formatting of ParameterAttribute.
1. The second pseudo-rule tests for the presence, placement, and formatting of the Mandatory parameter within the Parameter attribute.

It may be worth splitting these completely for

[2017-08-17 13:12] johlju opened #188 "Need a common tests to test the length of the relative file paths"
A relative file path cannot exceed 120 characters to be able to compile a configuration in Azure Automation.

See more in issue https://github.com/PowerShell/DscResources/issues/310.

[2017-08-18 05:29] johlju commented on #188
Heard from @kwirkykat that Azure Automation Team is working on the long path issue. Let's await that before making any tests or changing the xSQLServer module. There probably is gonna be a hard limit, but hopefully it will be much higher.

[2017-08-20 13:27] johlju commented on #185
@indented-automation Sorry for not answering until now, been a hectic week.

If it would simplify the code even more, and easier to add more rules later, then please split 1 and 2.

There is no guideline of for placement of the named attribut argument, so I say if that passes it's okay with me.

[2017-08-21 09:37] indented-automation commented on #185
Not a problem.

I've split the two rules, I think this makes them easier to follow, it certainly simplifies the internal logic of each rule.

[2017-08-22 16:42] #185 closed

[2017-08-30 23:56] #184 closed

[2017-08-31 15:15] johlju opened #189 "Do not run DscResources.Tests unit tests during testing of other repositories"
Currently when tests are run in other repositories, they are also running the unit tests for the DscResource.Tests repository. I suggest we look at removing that when testing other repositories. The unit tests for DscResource.Tests take time to finish too which are impacting the time it takes to finish the repos tests (we have a 60 minute window here).

It also doesn't cause problems in repos, lik

[2017-09-01 05:35] johlju opened #191 "RunTestInOrder non-working all of the sudden"
For some reason the class Microsoft.DscResourceKit.IntegrationTest cannot be loaded when dot-sourcing the configuration files. This did work when the PR was tested. But those tests that worked before, does no longer work either. This is really strange 🤔
Maybe it was just luck that it worked before, or if I did a mistake in the testing. I don't know. Either way it is broken. :)

The error:
https://

[2017-09-02 00:10] PlagueHO opened #193 "ModuleVersion inserted into Manifest Incorrectly in NUPKG"
Although the DSC Resource Kit does not use the NUPKG to publish to the PSGallery, the NUPKG that is produced by AppVeyor CI contains an invalid value in the module manifest:
![image](https://user-images.githubusercontent.com/7589164/29991222-a0877e7c-8fd7-11e7-8554-dbbf83f823af.png)

I'll submit a PR to fix this.

[2017-09-05 23:12] #27 closed

[2017-09-07 22:23] #189 closed

[2017-09-08 08:32] ykuijs opened #194 "Failing tests in TestHelper.Test.ps1"
AppVeyor tests are failing in SharePointDsc with the following error:

  Describing TestHelper Unit Tests
    [-] Error occurred in Describe block 56ms

      RuntimeException: Multiple Script modules named 'TestHelper' are currently loaded.  Make sure to remove any extra copies of the module from your session before testing.

      at Get-ScriptModule, C:\Program Files\WindowsPowerShell\Modules\P

[2017-09-08 08:32] ykuijs commented on #194
@BrianFarnhill

[2017-09-08 12:20] johlju commented on #194
@ykuijs Please see this PR to fix this for testing the "Harness"-model https://github.com/PowerShell/xStorage/pull/119.

Issue: https://github.com/PowerShell/DscResource.Tests/issues/189

[2017-09-08 12:47] ykuijs commented on #194
Implemented change, new AppVeyor tests now running

[2017-09-08 15:25] #191 closed

[2017-09-09 11:23] ykuijs commented on #194
@johlju Tests have succeeded, will implement this fix in our Dev branch as well. Thanks for the help!

Closing this issue

[2017-09-09 11:23] #194 closed

[2017-09-09 13:42] johlju commented on #194
@ykuijs Happy to help 😄

[2017-09-11 23:21] #193 closed

[2017-09-14 12:24] regedit32 opened #196 "Assert-VerifiableMocks was renamed to Assert-VerifiableMock in Pester 4.0.7"
TestRunner.Tests.ps1 has a call that uses Assert-VerifiableMocks.  A breaking change in Pester 4.0.7 renamed `Assert-VerifiableMocks `was renamed to `Assert-VerifiableMock`.  [https://github.com/pester/Pester/releases/tag/4.0.7](url)

[2017-09-15 23:15] PlagueHO commented on #196
@kwirkykat - do you want me to submit a PR to get this one fixed? Happy to do it, just didn't want to submit it if you're already onto it.

[2017-09-15 23:19] kwirkykat commented on #196
@PlagueHO I'm not working on it already. I can review the PR if you'd like to submit it 🙂

[2017-09-15 23:23] PlagueHO commented on #196
@kwirkykat - Awesome! Just submitted the PR :grin: Will tag you!

[2017-09-15 23:27] #196 closed

[2017-09-16 16:45] johlju commented on #196
Great team work fixing this! 😄

[2017-09-20 14:02] ChrisLGardner opened #198 "Self signed cert generation for tests"
As part of a change to xWebAdministration ([PR 307](https://github.com/PowerShell/xWebAdministration/pull/307)) I ported some code from xCertificate written by @PlagueHO to find certificates installed on the machine as part of the same DSC config (as detailed in [#261](https://github.com/PowerShell/DscResources/issues/261)). In this code there is some tests which generate a self signed cert using

[2017-09-20 19:34] PlagueHO commented on #198
We could rewrite "our" own copy of this but it feels like such a waste of time. The best solution would be for the author to publish it to PSGallery but he has said he doesn't think the PSGallery is the right place for scripts.

I could attempt to email the author directly to ask but as these are Microsoft repos I think this is something they would need to sign off on. @kwirkykat, are you able to

[2017-10-12 07:41] PlagueHO opened #199 "Migrate Pester Test Syntax from v3 -> v4"
**Details of the scenario you tried and the problem that is occurring:**
As of Pester v4 the syntax of the `Should` cmdlet has changed from `Should Be` to `Should -Be`.

There is a helpful script that can be used to easily perform the conversion:
https://gist.github.com/indented-automation/aeb14825e39dd8849beee44f681fbab3

This script should be used to correct the Pester syntax.

[2017-11-07 12:21] johlju commented on #188
See update in this comment https://github.com/PowerShell/xSQLServer/issues/851#issuecomment-341820454.

So maybe we should make a test that checks for 129 characters in the (relative) full path. This could then easily be expanded if the file length can exceed that later.

[2017-11-08 06:14] PlagueHO commented on #188
So the Azure Automation team are still working on the long path issue?

But it does sound like this would be a worthwhile improvement. Do we know if any other resource modules have hit this?

[2017-11-08 07:01] johlju commented on #188
Yes, @mgreenegit is on top of the issue. But guess the issue was more difficult to resolve than anticipated since @mgreenegit is working on fixing the path lengths in xSQLServer.

I have not heard any other having this issue. In xSQLServer there are long example file names etc which does not help this issue, due to the current descriptive resource names which makes them longer. I think any resourc

[2017-11-12 01:35] PlagueHO commented on #199
@kwirkykat - do you have any objections to us doing this? If you're happy with us doing this them I'm happy to submit the PR for it.

[2017-11-23 01:16] kwirkykat commented on #199
@PlagueHO No objections. Updating is great! Pester also broke some of the modules recently by renaming `Assert-VerifiableMocks` to Assert-VerifiableMock` which will also need to be updated for any future Pester versions

[2017-11-23 06:26] PlagueHO commented on #199
Awesome! I'll get it done once https://github.com/PowerShell/DscResource.Tests/pull/200 is through.

[2017-11-24 21:17] ykuijs opened #201 "Update WikiPages script to include EmbeddedInstance"
The script that generates the Wiki content retrieves the datatype from the schema and uses that in the Wiki page. When a parameter is a credential, the datatype is String but it also has an EmbeddedInstance that specifies it has to be of type MSFT_Credential.

Can we update the Wikipages script to include the EmbeddedInstance in the datatype column?

For example:
| **DatabaseServer** | Required |

[2017-11-24 21:23] johlju commented on #201
Wouldn’t be better to change it, in the wiki page, to the type `PSCredential` when the “EmbeddedInstance” is found?  Removing `String` altogether?
It feels to me that it would be more natural.

[2017-11-24 21:42] ykuijs commented on #201
That sounds even better! Will update my PR.

[2017-11-24 21:46] ykuijs commented on #201
Done, PR ready for review

[2017-12-06 15:27] johlju commented on #188
I have created a temporary common test in the PR https://github.com/PowerShell/SqlServerDsc/pull/937 which can be used as a template for creating the real common test.

[2017-12-07 19:08] ykuijs commented on #201
Merged in PR #202

[2017-12-07 19:08] #201 closed

[2017-12-22 19:35] PlagueHO opened #203 "CodeCov Upload Error Message"
An [error](https://ci.appveyor.com/project/PowerShell/xnetworking/build/3.1.786.0#L4671) has recently started appearing during upload of the code coverage results to CodeCov.io. _This error appears to not actually prevent upload or fail the build, so is not critical._

The error occurs when calling the `codecov` Python script from [this line](https://github.com/PowerShell/DscResource.Tests/blob/de

[2018-01-01 13:41] johlju commented on #203
Submitted an issue https://github.com/codecov/codecov-bash/issues/108.

[2018-01-01 13:46] johlju commented on #203
Submitted an issue https://github.com/codecov/codecov-python/issues/129.

*Submitted to the wrong repo at first, deleted that comment.*

[2018-01-02 00:14] PlagueHO commented on #203
Great job @johlju - sorry I haven't had time to look into this (have had to do actual "work work" over the break - lots of work on creating security layers around CosmosDb and API Management). This month might be a bit slow on the DSC side from me unfortunately due to too many other commitments :cry:

[2018-01-03 09:01] johlju commented on #203
@PlagueHO No worries. Sorry to hear you had a lot of work over the holidays :/ This month will be a bit slower for me as well, after this week at least. Still on vacation, back at work on the 8th and have a deadline at end of January.

[2018-01-14 16:14] johlju opened #204 "Running unit tests in a Windows container"
We are getting dangerously close to 60 minutes (in AppVeyor) running tests in the SqlServerDsc resource module, currently it's around 50 minutes. I dont' dare to create more integration tests at this point. I trying to figure out different solutions to solve this, speeding up tests if possible (see issue https://github.com/PowerShell/SqlServerDsc/issues/979).

One brilliant idea I had (I thought)

[2018-01-15 19:35] PlagueHO commented on #204
@johlju - This is awesome that you've made so much progress with running the tests in a Docker container! This really does open up a lot of opportunities for parallelizing our tests.

From what I can tell, remote debugging a container would require the PSRemoting to be enabled in the container. As the container part of the host, I'm guessing that PSRemoting on AppVeyor is disabled. You might still

[2018-01-16 12:34] johlju commented on #204
@PlagueHO My bad. The integration tests does not affect the code coverage, only unit test, so there is no need to compare and merge as I mentioned above.
My thought was I would be able to see the Pester code coverage report (missed lines) from both integration tests and unit tests, to see how much coverage each did (but the uploaded result would be merged together and uploaded).
But the way we wri

[2018-01-16 15:02] ramlongcat commented on #203
i have the same issue and my repo is correct.
im using AppVeyor and a build that used to work in December is now failing with that exact error message.
FYI in my experience the error started to appear around December 15th.

[2018-01-16 16:03] ramlongcat commented on #203
the only meaningful change i see around those dates is [that one](https://github.com/codecov/codecov-python/commit/bc70732bc1e7fef2167afaa25f84a5d25af947f3#diff-ed4cb86e1f4a5c5feeecc37b90ec6a23).
i'm not sure -- but i think the issue could be the content type on [line 730](https://github.com/codecov/codecov-python/commit/bc70732bc1e7fef2167afaa25f84a5d25af947f3#diff-ed4cb86e1f4a5c5feeecc37b90ec6a2

[2018-01-16 16:54] ramlongcat commented on #203
interesting ! now that you're saying this i compared my old/working codecov output:
[code]
with the current one:
[code]
it seems you're right.

[2018-01-16 16:58] ramlongcat commented on #203
but [that change](https://github.com/codecov/codecov-python/commit/63546cf704e786b4e30ec66972b822eff8d4f69a) occurred more than 2 years ago ?

[2018-01-16 17:06] ramlongcat commented on #203
that same line is using `root` and it has been changed [here ](https://github.com/codecov/codecov-python/commit/d8f9c7bcbf3217be472bd9295934dab4ff31bb7c#diff-ed4cb86e1f4a5c5feeecc37b90ec6a23) using `quote(root)` around those dates.

[2018-01-16 17:21] johlju commented on #203
It was just a possible issue. Our thought was that something changed in Window (how Python is calling this `&&`), because the error in the issue description says`Error running `cd 'C:\projects\xnetworking' && git ls-files`: None`.

But the 'root' row you found could be it too.

[2018-01-16 20:32] PlagueHO commented on #203
That is all some interesting info. I did confirm that this issue also occurs when executing locally (I had to trick the machine into pretending to be AppVeyor by defining some environment variables that the CodeCov.io looks for). But as this issue seems to be mostly harmless I didn't get much further. But it would be great to resolve. I think @johlju's suggestion that this could be caused by runni

[2018-01-16 22:32] ramlongcat commented on #203
FYI i manually patched [the line i was talking about](https://github.com/codecov/codecov-python/commit/d8f9c7bcbf3217be472bd9295934dab4ff31bb7c#diff-ed4cb86e1f4a5c5feeecc37b90ec6a23R557) to be a comment and my uploads now work.

[2018-01-19 11:37] johlju commented on #203
@PlagueHO What do think about switching to this [.exe report uploader for Codecov](https://github.com/codecov/codecov-exe). It seems that the [prerequisites](https://www.appveyor.com/docs/build-environment/#tools) 'choco' is installed on the build worker.

[code]

I just saw it, so I haven't done anything more than read the README.md.

[2018-01-20 15:01] johlju commented on #204
@PlagueHO I think it has something to do with the kind of host AppVeyor is running the PowerShell code from, but not sure. This _does work_ when running from a PowerShell console on the build worker (see reproducible steps below). If I output the name of the "host" that the Build Worker is running under it says `RemoteHostImplementation (v1.0.0.0)`, so is it that the script is run in a different k

[2018-01-20 15:03] johlju commented on #204
Btw. if I turn off code coverage, everything is working as expected (except missing the code coverage); https://ci.appveyor.com/project/johlju/sqlserverdsc/build/9.0.228.0#L1358

[2018-01-21 11:23] johlju commented on #204
@PlagueHO I removed the container part in a second branch '[background-tests](https://github.com/johlju/DscResource.Tests/blob/background-tests/AppVeyor.psm1#L421-L473)' and only using a background job (with `Start-Job`). I'm getting the same error when running this. So it seems it has to do with using a background job. See error from run here; https://ci.appveyor.com/project/johlju/sqlserverdsc/b

[2018-01-21 16:37] johlju commented on #204
So I have made a third iteration of this 😆 A PoC using the method above... Finally I have a working testing with coverage! Although the output of the test run is somewhat "ugly", I run the test results thru a [`foreach`-loop which runs `Describe`-, `Context` and `It'-blocks on the test result](https://github.com/johlju/DscResource.Tests/blob/e04aa7587d5c5c38ec0e0564b5c5974d42219466/AppVeyor.psm1#L

[2018-01-21 19:22] PlagueHO commented on #204
Wow! That is fantastic @johlju - I can't wait to check this out! Really impressive stuff. The other opportunity to use this method with great benefit is for some of the destructive integration tests. For example, some tests can be fairly damaging to the host system, so being able to run them in a disposable environment has a lot of benefits. I'm really looking forward to seeing how this works. I'l

[2018-01-30 08:59] johlju commented on #204
I have everything working now - with a single container. First true test run here (testing CodeCov); https://github.com/PowerShell/SqlServerDsc/pull/1037

I have prepared for using multiple containers, but I will leave that out of the first PR, it's gonna be a lot of code to review anyway. I'm finishing up with some cleanup and localization and after that I will try to write some unit test for the

[2018-02-03 19:36] johlju opened #208 "Code coverage does not analyze code in all module files in this repository"
Currently when this repository is tested, the code coverage is only reported for the module files in the root folder.
Thats because the following code block does not add more than the modules in the root folder.

https://github.com/PowerShell/DscResource.Tests/blob/f9e3dfd3eb9d7b6a9225e2cfba68b79ffe1cab36/AppVeyor.psm1#L250-L268

Suggest we use the helper function `Test-IsRepositoryDscResourceTest

[2018-02-03 21:01] PlagueHO commented on #208
Good call @johlju - this looks like a goo idea.

So there would be three different code coverage file patterns:
1. Test Harness DSC repo
2. Normal DSC repo
3. DSCResources.Tests repo

So the `else` in your code block above could be replaced by an `elseif (Test-IsRepositoryDscResourceTests)`?

[2018-02-03 21:12] johlju commented on #208
Yes my thought was three patterns. I think we need to add and `elseif` before the else in the block above, so that a new resource module that does not have a DSCResource module does get coverage (a extreme edge case).

I think new `elseif`-block should have the path `$env:APPVEYOR_BUILD_FOLDER\**\*.psm1` as well as the path in else block (don’t think the former fetches modules in root?). So we cou

[2018-02-04 07:07] johlju commented on #208
Actually there will be these three file patterns since the code block that will change does not affect Harness-repos.

1. Normal resource module repo with DSCResource-folder (repo with resources)
1. Normal resource module repo without DSCResource-folder (repo without resources)
1. DscResources.Tests repo

The second and the third might be able to be the same.

[2018-02-08 07:42] PlagueHO commented on #161
@johlju , @kwirkykat - do you have any objections to me progressing this one? Now that all the style rules are passing in the repos I support I'd like to be able to "enforce" this in all future PR's.

This would only be a year late 😆

I think the name of the following flags need to be implemented:

- Common Tests - Required Script Analyzer Rules - skip line https://github.com/PowerShell/DscResourc

[2018-02-08 12:54] johlju commented on #161
@PlagueHO I'm all for this. I'm ready to opt-in for this in SqlServerDsc now as well. The default will be opt-out so this change wouldn't effect the current behavior.

[2018-03-06 15:04] johlju opened #210 "When nuget do exist in the temp folder nuget can still not get called"
Running Meta.Tests.ps1 in PowerShell 6.0.1 generates this error.

[code]

This is because the following code block never sets `$nugetPath` to the full path.

https://github.com/PowerShell/DscResource.Tests/blob/f9e3dfd3eb9d7b6a9225e2cfba68b79ffe1cab36/TestHelper.psm1#L151-L166

It should instead read
[code]

[2018-03-07 21:36] PlagueHO opened #211 "Add spellcheck and URI link validation on Markdown files in tests"
To help improve the quality of the MD files in the DSC Resource Kit, we could add tests for spelling and URI link validation. As per discussion with @vors [here](https://github.com/PowerShell/platyPS/issues/345#issuecomment-371252054).

- Spellchecking: https://github.com/PowerShell/platyPS/issues/345#issuecomment-371252054
- Markdown link check: https://github.com/vors/MarkdownLinkCheck

These lo

[2018-03-08 16:26] johlju commented on #211
All for this!

Not sure if it can be applied here, but this also have npm packages. For spell checking I use [Code Spell Checker](https://marketplace.visualstudio.com/items?itemName=streetsidesoftware.code-spell-checker) in Visual Studio Code which uses [cspell](https://www.npmjs.com/package/cspell). Mostly because it has dictionaries for [several languages](https://www.npmjs.com/~jason-dent) ([so

[2018-03-12 09:02] johlju opened #213 "Common tests should be changed to show detailed error"
This has become a problem when AppVeyor change the way the present the log, only showing the last 2000 log entries. I have opened an issue for this https://github.com/appveyor/ci/issues/2109.

Some of the common tests today is testing "things" in group, for example markdown lint, file contains no new line, etc.  For example when the tests "Should not contain files without a newline at the end" fai

[2018-03-15 07:21] PlagueHO commented on #213
Very good point @johlju. Just so I'm clear I understand: is the plan to ensure each of the meta.tests that examine individual files that we change so each is an in an individual IT block? If so, then this makes sense.

[2018-03-15 17:29] johlju commented on #213
Exactly. Then it will be an individual row in the "Test pane". This will probably increase the testing time with a few seconds.

We also got https://github.com/appveyor/ci/issues/2109 fixed today with a new "View full log"! So maybe we could hold off with this one for a while.

[2018-03-22 01:59] #173 closed

[2018-03-29 07:43] johlju commented on #204
@PlagueHO can I get your input on this one?

For the next iteration of docker support (see previous comment) in the test framework I want to support pulling any image and using any image for a particular unit or integration test. Gonna try to work on this during Easter.

I want to support the following image naming conventions for specifying an image name, these are by default supported by the doc

[2018-03-29 22:02] PlagueHO commented on #204
Hi @johlju - great summary.

IMHO:
1. Yes. I'd expected latest would be pulled
2. Yes, I think so. But would also assume "latest" local one used (either with latest tag or newest).
3. Yes
4. Latest should pull latest from docker hub IT the latest version is not found locally (regardless of "latest" tag on local image). I think this is the default docker behavior anyway.

I can't think of a reason

[2018-03-30 09:03] johlju commented on #204
@PlagueHO Thanks for your input! Yes this probably won't be 100% correct first time around, so we probably will need to tweak it 😄

Although, I don't think I explained enough on number 4 for you to understand me, I was in a hurry when I wrote that yesterday :) Let me try again.

4. Currently the code only pulls the image if is does not exist locally, regardless of 'latest' tag. If a test want to u

[2018-04-04 23:45] #161 closed

[2018-04-05 17:07] pvs043 opened #217 "TestHelper\Get-PSModulePathItem Bug"
I'm include your module to appveyor.yml for test my project (https://github.com/pvs043/cMDTBuildLab/blob/dev/appveyor.yml), line 41

After the check error occured:
`[00:01:12]   Describing TestHelper\Get-PSModulePathItem`
`[00:01:12]     Context When querying for folder path`
`[00:01:13]       [-] Should return the correct folder 140ms`
`[00:01:13]         Expected strings to be the same, but they

[2018-04-05 19:04] PlagueHO commented on #217
I started getting this issue as well on my Windows 10 machine. But this test doesn't seem to fail on AppVeyor. So adding the slash might cause this to fail on AppVeyor.

[2018-04-06 08:42] pvs043 commented on #217
@PlagueHO, this issue occurs on AppVeyor: https://ci.appveyor.com/project/pvs043/cmdtbuildlab/branch/dev?fullLog=true (line 498)

I spent test at Windows 2016:
`
PS C:\windows\system32> Get-PSModulePathItem -Prefix $env:SystemRoot
C:\windows\system32\WindowsPowerShell\v1.0\Modules
`
Slash is absent!

Thus, suggest doing check on both options: with slash and without.

[2018-04-06 09:06] PlagueHO commented on #217
@pvs043 - I don't get this issue on AppVeyor, but I do not specify the AppVeyor build worker image, which results in using `Visual Studio 2015`. It looks like you're using `wmf 5` build worker. So I wonder if there is a difference here.

But yes, I agree, we should check for both.

[2018-04-09 16:01] johlju opened #219 "Temporary override common test for debugging purposes"
I spend a lot of time waiting for AppVeyor to run tests (in my fork) when debugging errors in integration tests for example. The time spent adds up when I need to wait for the common test to run until my test that I'm debugging is run.

There are no easy way of overriding it today, so I wondering if we could add a environment variable to the appveyor.yml that is evaluated in the Meta.Tests.ps1, an

[2018-04-20 12:27] johlju opened #220 "Test so that the hash table returned from Get-TargetResource contain all properties in the schema.mof"
Today there are resource that do not return all properties in the hash table that are returned from `Get-TargetResource`. I suggest we have a test that the repository must opt-in for it fail if not all properties are returned. The test should always return the result but not fail unless opt-in.

The below extract is from the the documentation.

This issue has been moved from https://github.com/Pow

[2018-04-20 13:26] johlju commented on #203
The problem seems to escalate, now more errors are shown. The errors still does not affect functionality (yet).

https://ci.appveyor.com/project/PowerShell/xpowershellexecutionpolicy/build/1.0.66.0#L279

[2018-04-20 19:14] PlagueHO commented on #220
Is it worth considering always running the test and reporting the output but only failing if the opt-in is set? I definitely see value in this test.

[2018-04-20 19:29] johlju commented on #220
I agree. Actually meant for the issue description to say that, but it didn’t, but now it does. Changed the issue description. 😄

[2018-04-22 06:28] #208 closed

[2018-04-23 14:56] johlju commented on #168
This was solved in PR #172

[2018-04-23 14:56] #168 closed

[2018-04-23 15:04] johlju commented on #70
Not sure this is still an issue, but let's keep this issue until we have written a unit/integration test for this.

[2018-04-23 15:31] johlju commented on #30
Today we have `ExcludeTag` parameter on `Invoke-AppveyorTestScriptTask`. it would be easy enough to add a `Tag` parameter as [System.String[]] that is also added to the Pester arguments. While we are at it we could add `TestName` as [System.String[]] to, then there are options to run whatever you would like depending how the AppVeyor environment is configured.

[2018-04-26 08:08] PlagueHO commented on #203
Good idea, but it looks like the CodeCov.exe uses the same Python code to upload the report. So we're seeing the same issue. Such a pain!

[2018-04-27 12:56] johlju commented on #203
Oh, I hoped it did not do that :/

[2018-04-27 12:58] johlju commented on #203
We have the [Ruby}(https://github.com/codecov/codecov-ruby) one, and the [Pearl](https://github.com/codecov/codecov-perl) one as well. Not can those use the Pyhton script? 🤔

[2018-04-27 20:13] PlagueHO commented on #203
The Ruby one looks like it might work - Choco can be used to install Ruby pretty easily. Great ideas!

[2018-04-27 21:09] PlagueHO commented on #203
Oh wait - I missed the message from @ramlongcat - great idea there. Might be worth looking into more. Thanks @ramlongcat and sorry I didn't see your post. What do you think @johlju

[2018-04-28 06:15] johlju commented on #203
I’m all for the idea, if it solves the problem. :) Fixing the problem in the script at source I think would be the best option. Parsing the script at our end could maybe be problematic if changes occurs at source?

[2018-05-01 16:56] johlju commented on #203
Looks like `codecov.exe` actually solves this. Sent in a PR #223

[2018-05-03 08:05] #203 closed

[2018-05-11 11:06] johlju opened #224 "Common Test Examples: Error message when missing the configuration named 'Example' has wrong text"
This error message

https://github.com/PowerShell/DscResource.Tests/blob/f1f2623aeec122c02635447b1d4e9413e2d7d923/Meta.Tests.ps1#L675

Should maybe read

[code]

[2018-05-21 08:30] johlju opened #225 "Join "Default Shared AppVeyor Model" and "Harness AppVeyor Model" to one"
I suggest we look into joining the both modules so that a TestHarness.psm1 file is not needed when using the "Harness AppVeyor Model". The "Default Shared AppVeyor Model" has more functionality that "Harness AppVeyor Model" resource modules can't use because all test logic is in the

The file that is called from the test framework doesn't seem so complicated.
https://github.com/PowerShell/Computer

[2018-05-21 08:32] johlju commented on #225
@PlagueHO is this possible to accomplish?

[2018-05-21 09:01] johlju commented on #225
The "Harness AppVeyor Model" also uses a special variant of the test templates that need to be updated so only one test template is used that works for both folder structures.

https://github.com/PowerShell/ComputerManagementDsc/blob/a028421c8b81b7018dcc6c58346ca735d627358a/Tests/Unit/MSFT_ScheduledTask.Tests.ps1#L12

[2018-05-21 09:05] PlagueHO commented on #225
@Johlju - it may be possible. But there are also some differences in some harnesses (especially in SharePointDsc) - not just in name either.  And in the tests themselves.

But I'd suggest an iterative change approach rather than big bang to do this - so that if it can't be implemented or turns out to have negative side-effects then it isn't going to be as painful to back out or work around.

I'd s

[2018-05-21 09:13] PlagueHO commented on #225
The other thing to remember is that SharePointDsc and OfficeOnlineServerDsc
 also uses the harness method (any of the auto-documentation resources) so we'd want to make sure anything that is done works for those projects too.

[2018-05-22 06:27] johlju commented on #225
Yes, if we can do this it should be seamless. The auto-documentation feature can't be used in "default" yet, I think? I haven't tested that yet. There are functionality in both that either can't use yet.
I think we should take what best of both and make a single "model".

What is the biggest gain of using the folder structure that is used for the "Harness AppVeyor Model"?

[2018-05-22 06:29] johlju commented on #225
@PlagueHO I saw in another repo that you publish the Wiki manually after release? What steps do you do to accomplish that?

[2018-05-22 07:02] PlagueHO commented on #225
Hi @johlju - the auto-documentation feature currently requires the folder structure (which requires the harness). Theoretically if we could find a way of getting rid of the folder structure while still allowing the auto-documentation to work then we could probably get rid of the harness and move to a unified model.

This should be possible with the repos I maintain, but it's the SharePointDsc etc

[2018-05-22 08:31] johlju commented on #225
I see if I have time to start looking at this (probably during a weekend).

[2018-05-22 08:41] PlagueHO commented on #225
I'll see if I have some time too - but I'm all my spare time is booked into doing some work on DFSDsc at the moment (one of the trickier ones to test because of the requirements for a AD Domain in most cases).

[2018-05-22 09:54] PlagueHO opened #226 "Improve Wiki Generation - Automatically Add Examples to Appropriate Resource Page"
Examples sometimes need to appear in multiple resources README.MD in wiki auto-generation repos. To do this currently the same example is stored multiple times in the repo.

From @johlju - https://github.com/PowerShell/DFSDsc/pull/64#issuecomment-390929870

[code]

[2018-05-22 09:56] PlagueHO opened #227 "Improve Wiki Generation - Store Wiki Root page in Main Repo"
Currently the Wiki Root page is updated manually with new resources. This should be changed so that the it can be stored in the main repo as a WIKIROOT.MD and have the resource list merged in with it.

[2018-05-22 09:57] PlagueHO opened #228 "Improve Wiki Generation - Automatically Generate _SIDEBAR.MD"
The _SIDEBAR.MD is currently manually updated/generated. It should be generated automatically.

[2018-05-23 13:44] johlju opened #229 "Codecov is no longer generate for "Harness"-model resource modules"
The problem is that the parameter `CodeCoverage` is not used by the Harness-module repositories so line 913 will never be `$true`.

https://github.com/PowerShell/DscResource.Tests/blob/f1f2623aeec122c02635447b1d4e9413e2d7d923/AppVeyor.psm1#L911-L916

[2018-05-24 07:33] PlagueHO commented on #229
@johlju: I wonder: if we want to bring the auto-documentation modules more inline with the other modules, perhaps it would be better to add the `CodeCoverage` parameter to the auto-documentation repos?

[2018-05-24 14:50] #229 closed

[2018-05-30 14:00] johlju commented on #142
There was one issue left from the issue https://github.com/PowerShell/DscResources/issues/167; "Update Wiki documentation in the build pipeline when PR is merged to master branch.". I think this issue will solve that, so adding it here as a reference.

[2018-06-06 07:08] PlagueHO commented on #226
This definitely has some promise. I think we could support the current method (without linking) and the new method at the same time so that there could be a transition period (as it would require a bit of work in each repo to convert over).

So I'd propose making this change and in such a way that each repo could opt-in to this new auto documentation method once the content was in the newer format

[2018-06-06 07:43] johlju commented on #225
For reference. As per this https://github.com/PowerShell/SqlServerDsc/issues/135#issuecomment-249262280, if the releases should not contain tests then today we need to use the "harness-model" fodler structure.

[2018-06-06 09:28] johlju commented on #226
Agree that the transition should be opt-in if we can't do it seamless, like if `.LINK` exist in comment-based help then that is used instead of the old method (without opt-in). Though, that will fail if there are any existing comment-based help with `.LINK` with the wrong content.  Opt-in works for me.
Awesome if you have time to look at this. 🙂

[2018-06-06 18:55] PlagueHO commented on #226
I've had a think about this and I do think I could probably make it "auto-detect" with-out using the opt-in. So I'll give this a go over the weekend (makes a change from just creating and reviewing resources :grin:)

[2018-06-06 19:57] johlju commented on #226
I know what you mean 😁

[2018-06-07 08:56] johlju opened #231 "Integration tests does not catch when there are duplicate CIM class definitions"
Integration tests does not catch when there are duplicate CIM class definitions.
The following error is shown in the AppVeyor console, but it does not fail the tests. Might just be the integration test template that should be updated.

https://ci.appveyor.com/project/PowerShell/xwebadministration/build/1.17.1078.0?fullLog=true#L1149
[code]

[2018-06-07 11:03] johlju commented on #231
I can't get it to throw using this.

[code]

Probably due to that the function ImportCimAndScriptKeywordsFromModule located in C:\Windows\system32\WindowsPowerShell\v1.0\Modules\PSDesiredStateConfiguration\PSDesiredStateConfiguration.psm1 uses [`trap`](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_trap?) to just continue (line 2589-2592 on WMF 5.1.14393).

[2018-06-08 07:08] johlju commented on #145
If possible we should also add the tests mentioned here https://github.com/PowerShell/DscResources/issues/236#issuecomment-316026293

[2018-06-08 22:08] PlagueHO opened #232 "Add Custom PSSA tests for checking Comment Format"
One of the comment PR corrections I have to make is to correct code comment format. It would be good if we could add PSSA tests for this. There are a few rules I could look at adding:
1. Check for space after `#`
2. Check comment is on it's own line
3. Check for multi-line comment being in `<# #>`

Is this something worth implementing? Are there are lot of repos that have violations of this? I mig

[2018-06-09 10:11] johlju commented on #232
I like seeing tests for these. Could be opt-in for custom rules, so would only affect those that opt-in for that, and should more or less be correct already (meaning should be quick to resolve).

Number 3 should also be on separate rows. Could we also test so the text in the comment block is indented?

[code]

[2018-06-11 08:49] johlju commented on #231
Closing this as external.

[2018-06-11 08:49] #231 closed

[2018-06-15 12:58] johlju opened #234 "Enable resource modules to opt-in to publish example configurations to PowerShell Gallery"
Love some feedback on this, if there are any thoughts, suggestions or problems around this.

The proposal is to allow the test framework to publish the examples in the AppVeyor deploy step, but only if it is a ‘master’ branch build (`$env:APPVEYOR_REPO_BRANCH -eq 'master'`).

It should deploy all scripts that passes `Test-ScriptFileInfo`. That way the contributors can control which examples, under

[2018-06-15 13:01] johlju commented on #234
In [PowerShellGallery Publishing Guidelines and Best Practices](https://docs.microsoft.com/en-us/powershell/gallery/concepts/publishing-guidelines) it says

I'm not sure we can do that unless there are some API or webhook that we can subscribe through.

[2018-06-18 12:05] johlju opened #236 "Composite resources fail the common tests"
If a resource module contain a composite resources the common tests fail, because the dependent resource modules are not in any of the PowerShell module paths.

This is currently failing in xMySql.

[code]

[2018-06-19 13:30] ykuijs opened #238 "Improve Test-StatementOpeningBraceOnSameLine"
The regex test in Test-StatementOpeningBraceOnSameLine need to be improved. When the if statement contains a additional statement (for example Where-Object) which ends with a brace, the current check throws a false positive:
[code]

https://github.com/PowerShell/DscResource.Tests/blob/dev/DscResource.AnalyzerRules/DscResource.AnalyzerRules.Helper.psm1#L157
[code]

[2018-06-20 06:40] johlju opened #239 "Get-DscConfiguration throws if property returns the wrong type"
Looking for if we can add a test for this (might be to big), or if we should add an example for testing the types in the [unit and/or integration test template](https://github.com/PowerShell/DscResources/tree/master/Tests.Template). *This also has bearing on issue #220.*

From @regedit32 in issue https://github.com/PowerShell/xWebAdministration/issues/372

[2018-06-20 09:50] #224 closed

[2018-06-25 14:32] johlju opened #240 "Integration tests and examples should be able to compile using a (self-signed) certificate"
To be able to make the examples and integration tests secure by default, we need a certificate on the build worker to be able to compile the configurations. Preferably this should be a self-signed certificate that is created for each test run.

This should make sure to take issue #198 in account.
This would close https://github.com/PowerShell/DscResources/issues/87 and help with https://github.com

[2018-06-25 14:40] johlju commented on #240
@PlagueHO have written down steps in https://github.com/PowerShell/DscResources/issues/89#issuecomment-177632350 that might be able to be reused, which seems to be the same as in https://docs.microsoft.com/en-us/powershell/dsc/securemof.

[2018-06-27 07:47] johlju commented on #240
The helper function [New-DscSelfSignedCertificate](https://github.com/johlju/DscResource.Tests/blob/fcf63f1067ba6e40587a32f478691dfe4d028268/TestHelper.psm1#L1735) would preferably use the PSPKI module on the PowerShell Gallery (https://github.com/Crypt32/PSPKI), but there is a bug using that, see issue https://github.com/Crypt32/PSPKI/issues/42. Also when running in the build worker it generates

[2018-06-27 07:49] johlju commented on #198
PR #241 adds a helper function [New-DscSelfSignedCertificate](https://github.com/johlju/DscResource.Tests/blob/fcf63f1067ba6e40587a32f478691dfe4d028268/TestHelper.psm1#L1735) that creates a self-signed certificate and the certificate thumbprint is saved in the environment variable $env:DscCertificateThumbprint and the path to the public portion of the certificate is saved in $env:DscPublicCertific

[2018-06-27 07:50] johlju commented on #198
This new helper module could be extended to create any type of self-signed certificate.

[2018-06-27 12:10] johlju commented on #240
PR #241 now uses the module PSPKI thanks to the author helping to explain what I did wrong!

[2018-07-01 14:04] johlju opened #242 "Example validation: Fails if a parameter has a ValidateSet"
The following code does not take in account if there are a validate set on a mandatory parameter.
Also, this code should be split out to a separate function.

https://github.com/PowerShell/DscResource.Tests/blob/7956b151bd303be577bedf201595350c985824e9/Meta.Tests.ps1#L697-L710

[2018-07-03 12:23] #234 closed

[2018-07-07 00:36] PlagueHO opened #244 "Add Custom PSSA Checks for Keyword Style Rules"
This issue is to add some PSSA checks for keyword style rule violations. It is part of implementing https://github.com/PowerShell/DscResources/issues/404.

The following keywords/statements need to be tested (tick them off as they are implemented):
- [ ] : begin
- [ ] : break
- [ ] : catch
- [ ] : class
- [ ] : continue
- [ ] : data
- [ ] : define
- [ ] : do
- [ ] : dynamicparam
- [ ] : else
- [ ]

[2018-07-07 01:12] PlagueHO commented on #226
Forgot about this one! Looks like I'll need to get it sorted before I can use the publish examples! Try today/tomorrow.

[2018-07-07 05:48] PlagueHO commented on #225
I'm looking at moving all my repos away from the harness folder structure. It doesn't actually look like it was required. It actually came with the Wiki generation from SharePointDsc. I'll test it with a few repos first and if it works OK I'll do them all.

However, I'll leave SharePointDsc and OfficeOnlineServerDsc alone. But if we could get those moved off the harness model then this would allow

[2018-07-07 06:44] PlagueHO opened #245 "Bug in Wiki Generation when Used without Harness"
There is a bug in the Wiki generation code in `Invoke-AppveyorAfterTestTask`. One of the variables was incorrect and the value was being picked up from the AppVeyor.yml file definition instead of being passed in as a parameter.

See: https://ci.appveyor.com/project/PlagueHO/wsmandsc#L989

[2018-07-07 06:55] PlagueHO commented on #245
This bug will affect any Wiki generation module where the variable `$mainModuleFolder` is defined in AppVeyor.yml (@ykuijs). If you remove the variable `$mainModuleFolder` from AppVeyor.yml then this bug is exposed. So fixing this bug will allow the `$mainModuleFolder` to be removed from AppVeyor.yml.

[2018-07-07 06:56] johlju commented on #225
I agree that the best is moving away from the harness folder structure (optional though) and instead make the default shared model better (including Wiki-generation). Having one model is much easier to maintain I think.
I'm seeing the potential to make better automated releases. at least to the point where it creates a Nuget package in the repository Releases, that can be manually deployed to the

[2018-07-07 07:49] johlju commented on #245
Resolved by PR #246

[2018-07-07 07:49] #245 closed

[2018-07-07 08:42] PlagueHO opened #247 "Improve Wiki Generation to Handle Example Format used in Gallery Publish"
The new Example Gallery publish function (https://github.com/PowerShell/DscResource.Tests#deploy) requires Example files to be in a slightly different format than the Wiki auto generation: https://github.com/PowerShell/DscResource.Tests/blob/dev/DscResource.DocumentationHelper/WikiPages.psm1

The Wiki Auto generation needs to be adjusted to also support the Example format required by the gallery p

[2018-07-07 08:50] #240 closed

[2018-07-09 07:12] PlagueHO opened #251 "Refactor Wiki Generation to Handle Edge Cases"
The Wiki Generation code is very brittle and handles only very "specific" cases of example. Once unit test coverage is added to this module, then it should be refactored to handle:

1. Should handle .PARAMETER correctly too, but can be another PR. Non-blocking.

See example:
https://gist.github.com/johlju/8e57661b04cd6e93eb44d53b5404a9d9

2.  This will get the PSScriptInfo metadata instead of the

[2018-07-12 14:48] #247 closed

[2018-07-12 18:43] johlju opened #252 "Prerequisites for example publishing to PowerShell Gallery"
The following commands need to be run prior to using any PowerShellGet cmdlets. This is so that the dependency works correctly. We should be able to add these to the function `Invoke-AppveyorInstallTask`, which is run in the AppVeyor install phase, and as the first thing that is run in that function.

[code]

[2018-07-12 19:20] johlju commented on #252
Prior to this change the version of PowerShellGet was 1.0.0.1. After this change the version installed is currently 1.6.6.

[code]

[2018-07-13 16:36] johlju commented on #252
This was merged in PR #253.

[2018-07-13 16:36] #252 closed

[2018-07-14 20:00] PlagueHO commented on #225
I'm of two minds here - I don't see a problem having the tests in the module published to the Gallery, but understand that they wouldn't be required or used on a production server.

I think rather than adopt the harness model it would have been a better to allow each module to control how they get published to the PS Gallery - e.g. some sort of options file in the repo itself.

[2018-07-14 21:09] johlju commented on #225
That sounds like a great idea with an options file. We need to see how that fits into @kwirkykat’s release steps.

[2018-07-14 21:48] PlagueHO commented on #225
Is it possible to even include the release automation in the DSCResources repo so that we can get visibility on what happens and potentially enhance it to reduce the need for things like the harness? Obviously not including the PowerShell Gallery keys :grin:

[2018-07-14 21:54] johlju commented on #225
Agree the steps should be visable in DscResources - I know Katie has written down the steps in an issue or PR comment in one of the repositories (in DSC resource Kit) when we in the community discussed “something” :smile:. Wonder if we can find that comment and use as a starting point for any updated steps.

[2018-07-18 15:19] johlju commented on #225
Spent a few minutes trying to find the comment that @kwirkykat detailed the steps she does when releasing - but finding that without having a good keyword to search for is hard. I will ask to see if we can get this documented or the code added to a public repo, or DscResources.

[2018-07-19 08:02] ykuijs commented on #225
What would be the impact of this change?

I agree with the fact that we should not ship the tests in the package, because:
- On production servers, personally I do not want the tests to be deployed. I only want the bare essentials: The resources.
- If you need the tests to debug/troubleshoot, they are always available for download in the GitHub repo
- Adding the tests will only increase the size o

[2018-07-19 11:10] johlju opened #254 "Example publishing will publish exampes with number prefix"
Currently if the filename of an example contain a number prefix '1-', '2-', etc. it will correctly remove that when validating that the filename and configuration name is the same.
But, when publishing the example, the number prefix is _not_ removed which will make the example fail to import in Azure Automation.

Before publishing the example need to be saved to a temporary file without thew prefi

[2018-07-20 21:23] PlagueHO commented on #254
Hi @johlju - are you working on this one? I'm happy to submit a PR for it if not as I was thinking of adding the numbers back into the CertificateDsc PR https://github.com/PowerShell/CertificateDsc/pull/143

[2018-07-21 00:48] PlagueHO opened #255 "Self-Signed Certificate Removed When Used with Modules that Restart AppVeyor"
The Self-signed certificate that is used for compiling the Example DSC files is created and the location assigned to `ENV:` variables inside the `Invoke-AppveyorInstallTask`. However, some DSC Resources reboot the AppVeyor container afte the `Invoke-AppveyorInstallTask` runs (e.g. so that some Windows Features can be installed fully). This clears the `ENV:` variables, so that they can no longer be

[2018-07-21 00:48] PlagueHO commented on #255
See https://ci.appveyor.com/project/PlagueHO/activedirectorycsdsc#L319

[2018-07-21 06:11] johlju commented on #254
If you have time to fix this then please do :)

[2018-07-21 07:35] johlju commented on #255
I thought by setting them to ’machine’ they would be permanent and would be loaded into the session again on reboot. :thinking:

If that is not the case, then I’m okay with moving those line into the test-phase function instead.

[2018-07-22 05:10] PlagueHO commented on #254
@johlju - In progress!

[2018-07-22 06:14] PlagueHO commented on #254
@johlju - paused work on this as I've found an issue with the Wikicontent generation when the .PSScriptInfo is in the example. I'll raise an issue and fix it before I fix this one.

[2018-07-22 06:27] PlagueHO opened #256 "Wiki Content Generated Incorrectly when Examples Include PSScriptInfo Block"
When the examples include a PSScriptInfo block in the header the Wiki Content pages are generated incorrectly. The PSScriptInfo is left in the file:

![image](https://user-images.githubusercontent.com/7589164/43042925-5cfacdae-8ddc-11e8-8d6a-a61619e90e6b.png)

[2018-07-22 15:14] johlju commented on #254
@PlagueHO I take this one! I will send in a PR shortly.

[2018-07-24 07:22] PlagueHO commented on #255
It doesn't seem to be the case - at least not with what I'm seeing. I'll submit a PR.

[2018-07-24 08:21] PlagueHO commented on #255
I had a think about this and actually, what might be the best idea is to convert `New-DscSelfSignedCertificate` into an idempotent function `Initialize-DscSelfSignedCertificate`. This function will then be called in both `Invoke-AppveyorInstallTask` and `Invoke-AppveyorTestScriptTask`.

[2018-07-24 08:55] #254 closed

[2018-07-24 09:10] johlju commented on #255
Do you mean `Initialize-DscSelfSignedCertificate` will only create a new certificate using `New-DscSelfSignedCertificate` when there is not a certificate already created (or the environment variable is not set)?

[2018-07-24 09:30] PlagueHO commented on #255
Correction: I'll just update `New-DscSelfSignedCertificate` so that it will still only create the certificate if it doesn't exist, but it will always assign the environment variables - even if the certificate already existed. That way `New-DscSelfSignedCertificate` becomes idempotent and can be run more than once and will always result in the certificate being created and the environment variables

[2018-07-24 09:31] johlju commented on #255
Sounds good! 👍

[2018-07-24 09:33] PlagueHO commented on #255
Cool! Just testing the changes with ActiveDirectorCSDsc. I should submit the changes in a little bit.

[2018-07-24 10:39] #255 closed

[2018-07-24 10:42] johlju opened #259 "New-DscSelfSignedCertificate: Update informational messages"
In Appveyor.psm1 there is a line that write the information below. Maybe we should copy that line into the `New-DscSelfSignedCertificate` function instead, that actually creates the certificate.
[code]

And in the Appveyor.psm1 changed the line to

[code]

The it won't look like the certificate is created twice, when it actually is only created the first time `New-DscSelfSignedCertificate` is call

[2018-07-25 07:08] PlagueHO commented on #259
I'll get this done! Leave it with me.

[2018-07-25 09:07] #259 closed

[2018-07-26 06:52] johlju opened #261 "Example publishing: Informational message is missing publish filename"
When the examples was published in xPSDesiredStateConfiguration, the informational message was missing the publish filename.

https://ci.appveyor.com/project/PowerShell/xpsdesiredstateconfiguration/build/6.0.1149.0#L10025
[code]

It's because this row referencing `$publishFilenameWithoutExtension`

https://github.com/PowerShell/DscResource.Tests/blob/a574960e740bc9ae7388d0c84a656dcb5f70483b/DscRes

[2018-07-27 13:46] johlju opened #263 "Remove CustomTaskModulePath from the AppVeyor.psm1"
There is the option to use a custom module `.AppVeyor\CustomAppVeyorTasks.psm1` for custom tasks. But it is not used in any of the resource modules. Nor is it mentioned in any documentation.
To simplify the unit tests, I suggest we remove the option to use this.

https://github.com/PowerShell/DscResource.Tests/blob/a574960e740bc9ae7388d0c84a656dcb5f70483b/AppVeyor.psm1#L11-L21

[2018-07-27 13:47] johlju commented on #263
@PlagueHO is this something we should keep?

[2018-07-30 09:45] johlju opened #265 "Wrong rule name for Script Analyzer custom rules"
When running Invoke-ScriptAnalyzer using the custom rules, the are no rule name for the custom rules.

[code]
This is due to this is not returning the expected value. Also, having one rule name for all might not be the best idea? If we should have one rule name for all the custom rules, then it could be 'DSCResourceKitStyleGuideline'. But I think it would look better to have a individual rule name

[2018-07-31 06:54] #263 closed

[2018-08-03 05:11] #261 closed

[2018-08-03 08:00] johlju commented on #29
Looking at this issue, I see that there is only one place where `Install-Module` is run in tests, that are meant to be run by a user. All other locations are meant to be run in AppVeyor only, or in a container that is only present for the test run.

One place that `Install-Module` is used is in the Meta.Tests.ps1. It calls `Install-DependentModule` which in turn calls `Install-Module` and installs

[2018-08-03 08:10] johlju commented on #30
The [unit test template](https://github.com/PowerShell/DscResources/blob/master/Tests.Template/unit_template.ps1) has `-Tag` added to each `Describe`-block. Since there are no clear scenario to cover above that, I'm closing this as 'not fixed'.

[2018-08-03 08:10] #30 closed

[2018-08-03 08:18] johlju commented on #70
We should add a new test case for this, and `Assert-MockCalled` here, so that `Set-PSModulePath` is called with the correct path.

https://github.com/PowerShell/DscResource.Tests/blob/4d8376d3201769156f2f72914d63656f4ff2a3d8/Tests/Unit/TestHelper.Tests.ps1#L993

[2018-08-03 08:40] johlju opened #268 "dev"

[2018-08-03 08:41] johlju commented on #268
Closing this issue. Opened by mistake. Sorry about this.

[2018-08-03 08:41] #268 closed

[2018-08-03 09:38] johlju commented on #114
*This does not affect resource modules, like SharePointDsc, that uses the Harness-model. Those resource modules control the code coverage them self by having all testing logic in the harness function in the individual repo. Below is improving functionality for the default shared model.*

Currently it catches all module files (*.psm1) recursively in the folders added here.

https://github.com/Power

[2018-08-03 09:44] johlju commented on #114
@PlagueHO This would help with the code coverage in for example [CertificateDsc](https://github.com/PowerShell/CertificateDsc)? To find if there are parts of the modules that are not covered by tests?

[2018-08-03 10:33] #70 closed

[2018-08-03 10:39] #199 closed

[2018-08-03 20:37] johlju commented on #114
Did a test of this with CertificateDsc, and it seems it the helper function are covered. The code coverage percentage dropped, which is positive.
https://ci.appveyor.com/project/johlju/certificatedsc/build/2.3.6.0#L1486

[2018-08-04 18:08] johlju commented on #177
Closing this as duplicate an in favor of issue #211.

[2018-08-04 18:08] #177 closed

[2018-08-04 19:12] johlju commented on #211
Looking at the MarkdownLinkCheck module, it seems it very outdated. The source Markdig is on version 0.15.1 now; https://github.com/lunet-io/markdig#download. Looking at the change log it feels that we want to use a newer version.
Maybe we can use the module, but replace the .dll to a newer version before we import the module, or if we can download the npm and use it directly in some way?

[2018-08-05 07:32] johlju commented on #198
As per previous comment, there is a helper function `New-DscSelfSignedCertificate` that are now using PSPKI. Currently it take no parameters, and only generates a certificate used for compiling secure DSC configuration (.mof files). This helper function can be extended so that any certificate can be generated that are supported by PSPKI module. This helper module DscResource.Tests/TestHelper.psm1

[2018-08-05 11:25] johlju commented on #198
@Community This need to support both `New-SelfSignedCertificate` and `New-SelfSignedCertificateEx` - what properties would be required initially to support generating necessary certificates?

#### `New-SelfSignedCertificate`
[code]

#### `New-SelfSignedCertificateEx`
[code]

[2018-08-05 20:03] vors commented on #211
I bumped MarkdownLinkCheck to use 0.15.1 Markdig and published it as 0.2.0
Let me know if you see any problems!

[2018-08-06 06:15] johlju commented on #211
@vors many thanks for updating the module for us! 😃

[2018-08-06 07:12] johlju commented on #211
If cSpell is used for spelling, then the same configuration file can be used for the VSCode extension "Code Spell Checker".
Personally I'm using this extension to spell check the code, and it helps making sure to not use abbreviations, and not making spelling mistakes in variables. Would be great if this could spell check at least comments in code, but that can be a future enhancement. First markd

[2018-08-06 08:06] johlju commented on #211
@vors Tried MarkdownLinkCheck, and it finds broken links in my tests, but there are one issue, do you know if it can be solved (easily)? The issue is that it seems to think a correct link that points to a folder is broken. For example it fails on all the links in the README.md here.

https://github.com/PowerShell/SqlServerDsc/tree/dev/Examples

[code]

[2018-08-07 12:44] johlju commented on #211
Opened issue https://github.com/vors/MarkdownLinkCheck/issues/5 for previous comment.

[2018-08-08 07:08] johlju opened #274 "Remove default values of ExcludeTag parameter in favor of opt-in"
Since the parameter `ExcludeTag`  on the function `Invoke-AppveyorTestScriptTask`is not intuitive.
I wonder if we can make it obsolete, or rather remove the default values, by using opt-in.

It defaults to 'Examples' and 'Markdown'.

https://github.com/PowerShell/DscResource.Tests/blob/60efdea795fcad11acd5ffc422c2c4c0afcda55b/AppVeyor.psm1#L164

They are meant to exclude the meta tests (common tes

[2018-08-08 07:09] johlju commented on #274
With this change, each repo can use the parameter to correctly exclude tag they prefer.

[2018-08-08 07:43] regedit32 opened #276 "update meta.tests to include RuleName in the write-warning message"
For each PSSA rule we loop through like this:
[code]

In that example, we could include `$($errorPssaRuleOutput.RuleName)` in the write-warning message, which would make for easier discovery when trying to find which rule documentation to look up or for suppressing by rule name.

[2018-08-08 07:58] johlju commented on #265
The change in PR #275 is looking good. Using it together with PR https://github.com/PowerShell/DscResources/pull/424 to get the settings file.

[code]

[2018-08-08 08:18] johlju commented on #276
Sounds good to me!

[2018-08-08 18:37] johlju commented on #211
Markdown link linting is proposed in PR #273. Looking at adding spell check when I have time.

[2018-08-09 08:57] johlju opened #278 "Security Auditing for PowerShell Scripts"
As read here: [PowerShell Injection Hunter: Security Auditing for PowerShell Scripts}](https://blogs.msdn.microsoft.com/powershell/2018/08/03/powershell-injection-hunter-security-auditing-for-powershell-scripts)

We could make a opt-in test that checks for this. Maybe it should not fail the tests, but at least outputs warnings when not opt-in. There is an issue in SqlServerDsc that is not possible

[2018-08-10 07:25] johlju commented on #211
Issue vors/MarkdownLinkCheck#5 is closed, I did not use relative path - made a review comment so we can add that to the docs.

[2018-08-10 07:27] johlju commented on #211
Added PR #279 for spell-checking, although there is currently a problem with using cSpell, it sends output to stderr even when there is no error, submitted issue https://github.com/Jason3S/cspell/issues/61.

[2018-08-10 17:05] johlju opened #280 "Change the section "PowerShell Gallery API key" in README.md to to use .gitattributes file"
Under section "PowerShell Gallery API key", the following should be changed to use the .gitattributes file instead.

[code]

[2018-08-11 08:43] #274 closed

[2018-08-13 17:42] #265 closed

[2018-08-14 05:13] johlju opened #281 "Move section Phased Meta test Opt-In in the README.md"
I suggest we move section [Phased Meta test Opt-In](https://github.com/PowerShell/DscResource.Tests#phased-meta-test-opt-in) in the README.md, under the section [DSC Resource Common Meta Tests](https://github.com/PowerShell/DscResource.Tests#dsc-resource-common-meta-tests).

[2018-08-14 05:16] johlju opened #282 "Remove sections 'Goals' and 'Git and Unicode' from the README.md"
I think the sections *Goals* and *Git and Unicode* can be removed. I don't see any purpose for them anymore. 🤔  If you do, then please share.

[2018-08-14 08:36] johlju opened #284 "Move change log from README.md to CHANGELOG.md"
I suggest we move the change log from within the README.md to a separate file CHANGELOG.md. The change log is so long now so I think it suits better in its own file.

[2018-08-14 20:15] PlagueHO commented on #284
Love it. I've been meaning to suggest this for months. Great idea.

[2018-08-15 06:41] #282 closed

[2018-08-15 07:40] johlju commented on #284
Tagged this issue my mistake form a PR, this issue is not being worked on by me in any PR. Still up for grabs by anyone. 🙂

[2018-08-15 10:39] #114 closed

[2018-08-15 19:55] johlju commented on #284
When this issue is resolved, the PULL\_REQUEST\_TEMPLATE.md should be updated to reflect the move.

[2018-08-17 05:54] #188 closed

[2018-08-17 07:30] johlju opened #287 "Opt-in to relevant common tests"
This repository should opt-in to relevant common tests. Some are skipped now, line markdown link linting.

https://ci.appveyor.com/project/PowerShell/dscresource-tests/build/0.2.365.0

[2018-08-17 07:31] johlju commented on #276
This was resolved in PR #275 I believe.

[2018-08-17 07:31] #276 closed

[2018-08-21 16:06] johlju opened #289 "Codecov is failing with an error"
Saw that Codecov started failing today. I have not dug into what the problem can be.

https://ci.appveyor.com/project/PowerShell/certificatedsc#L1938

[code]

It is installed here, there must be a problem with this, or the install is not added to a path... 🤔

https://github.com/PowerShell/DscResource.Tests/blob/6d9454b484102b4bd2ca4be9031191289c548358/DscResource.CodeCoverage/CodeCovIo.psm1#L336

[2018-08-23 09:34] johlju commented on #289
The problem seems to have gone away by itself.
https://ci.appveyor.com/project/PowerShell/sqlserverdsc/build/9.0.414.0#L10532

[2018-08-23 09:34] #289 closed

[2018-08-31 06:34] #211 closed

[2018-08-31 06:34] #281 closed

[2018-09-04 07:57] #280 closed

[2018-09-04 07:57] #284 closed

[2018-09-04 07:57] #287 closed

[2018-09-19 07:51] johlju opened #292 "AppVeyor: PowerShellGet fails when PackageManagement update gives error"
Test framework installs PowerShellGet.

https://github.com/PowerShell/DscResource.Tests/blob/a522ade40d959fc931dfc9eb2a4ec096b7e3afb1/AppVeyor.psm1#L42-L49

Currently the PowerShellGet fails because the PackageManagement module is in use.

[code]

This is not a problem at the moment since the AppVeyor build worker recently was updated with the latest PackageManagement and the latest PowerShellGet.

[2018-09-19 07:59] johlju opened #293 "AppVeyor: Get-PackageProvider output a lot of unnecessary information"
We update the NuGet package provider

https://github.com/PowerShell/DscResource.Tests/blob/a522ade40d959fc931dfc9eb2a4ec096b7e3afb1/AppVeyor.psm1#L42-L46

Recently it has started to output a lot of (unnecessary) information.

https://ci.appveyor.com/project/johlju/xpsdesiredstateconfiguration?fullLog=true#L24
[code]

Suggest handling the output, so it just outputs the necessary information, like P

[2018-09-22 08:07] johlju opened #296 "Fails with an error if there are no tests in a repository"
When a repository not yet contain tests (or a Tests folder), the test framework fails with an error.
I suggest we add a check if there are tests, and outputs a warning if there are no tests.

[code]
https://ci.appveyor.com/project/PowerShell/xchrome/build/1.1.58.0

[2018-09-22 10:34] PlagueHO commented on #296
Good idea @johlju ! Sounds good to me.

[2018-09-26 13:43] johlju commented on #198
There was a helper function added her to generate a certificate.
https://github.com/PowerShell/SqlServerDsc/blob/55d950a0c6a0e71bbe75130863257b4a339b5c16/Tests/TestHelpers/CommonTestHelper.psm1#L234-L288

It would be great to have this as a common function in the test framework.

[2018-10-10 05:12] johlju opened #300 "Remove the workaround code that was added for the missing AppVeyor cmdlet"
#### Details of the problem, bug, or enhancement
It looks like the cmdlet `Add-AppveyorTest` now should work on PS Core since the issue https://github.com/appveyor/ci/issues/2263 was closed. I have not tested. But if it works, then the following code could be simplified.

https://github.com/PowerShell/DscResource.Tests/blob/ab96f031a72b1790ededd44c78e4dc4cfda37b7c/AppVeyor.psm1#L854-L881

#### Ver

[2018-10-11 06:15] #219 closed

[2018-10-11 14:23] boscoedash opened #301 "Bug in Install-ModuleFromPowerShellGallery. Does not use temp Nuget Path if the path exists"
#### Details of the problem, bug, or enhancement

When nuget.exe is not available, but exists in the temp path, the Install-ModuleFromPowerShellGallery does not use the temp path.

#### Verbose logs showing the problem (if applicable)

#### Suggested solution to the issue

Move line 177 ($nugetPath = $tempNugetPath) outside of the if clause so that it runs when Nuget.exe exists in the temp path an

[2018-10-12 02:35] kingsleyck commented on #204
I was able to succeed at unit testing class-based DSC resources by leveraging the work done for this issue (https://github.com/kingsleyck/PSModulesDsc).

The problem with unit testing class-based DSC is that Pester needs to be executed in a fresh scope in order to execute Mocks reliably. This is documented in the Pester repo:

https://github.com/pester/Pester/issues/706

By abstracting the unit te

[2018-10-12 13:30] johlju commented on #204
@kingsleyck That is awesome that you had use for this! Since you have both unit test and integration tests, if you didn't run the unit tests in the containers the integration test would fail with the error you mention?

[2018-10-12 14:44] kingsleyck commented on #204
The unit tests fail when Mocks are used on Powershell version 5. I don't think the integration tests failed because they were not using Mocks, but I could be wrong. This issue was also discussed previously for the repository: https://github.com/bgelens/DockerDsc ( thanks @bgelens ). I can't find the discussion now unfortunately. If you examine the AppVeyor output on the repo, though, the Mocking i

[2018-10-16 00:52] fredleejr opened #303 "Add PSSA test for camelCase/PascalCase for variables and parameters"
#### Details of the problem, bug, or enhancement
Many projects follow camelCase and PascalCase style guidelines and are often missed when reviewing. A custom rule for this would be very helpful. I understand a perfect solution would not be possible, but something to catch the obvious.
#### Verbose logs showing the problem (if applicable)

#### Suggested solution to the issue
I am currently working

[2018-10-25 15:19] cnorthe opened #305 "Add PSSA test for [CmdletBinding()] attribute on every Function."
**Details of the problem, bug, or enhancement**

**Avoid Redefining Reserved Parameters**

Reserved Parameters such as Verbose, Debug, etc. are already added to the function at runtime so don't redefine them. Add the CmdletBinding attribute to include the reserved parameters in your function.
Use the CmdletBinding Attribute on Every Function
The CmdletBinding attribute adds the reserved parameters

[2018-10-27 07:13] PlagueHO commented on #256
Gah - I really need to finish this one. Completely forgot about it. Still in progress.

[2018-11-11 08:02] johlju commented on #300
I’m planning on fixing this, just haven’t had time yet with vacation and a lot of work at the day job.
Hoping to get a few hours to DSC next week. :)

[2018-12-07 19:00] johlju commented on #303
I'm all for this, if the custom PSSA rules detect that parameter variable names uses PascalCase (both in the parameter declaration and in the code), and another PSSA rule detect other variables (in local, script and global scope) uses camelCase.

[2018-12-07 19:02] johlju commented on #305
I'm all for this. @PlagueHO can you please label this issue as enhancement so it is not labeled as stale?

[2018-12-07 19:59] PlagueHO commented on #305
Missed this sorry! @johlju - done! We need to get your maintainer privileges back in here!

[2018-12-08 09:02] johlju commented on #305
@PlagueHO I will request that from Katie, as soon as I have cached up with the back log of mentions and reviews etc. :)

[2018-12-11 08:35] johlju commented on #300
This should be done to remove unnecessary code.

@PlagueHO can you please tag this issue accordingly?

[2018-12-20 08:04] #256 closed

[2019-01-01 04:05] #293 closed, assigned to johlju

[2019-01-04 22:01] #301 closed, assigned to nobody

[2019-01-05 21:09] #296 closed, assigned to johlju

[2019-01-06 02:25] #238 closed, assigned to nobody

[2019-01-06 06:54] johlju commented on #29
@PlagueHO what is your opinion on this today? Is this worth solving, and to what extent?

[2019-01-06 07:47] PlagueHO commented on #29
This one goes back quite some time! :grin:

Perhaps we could just install the module to the local scope if they aren't installed (or an older version is installed).

But, we could also look at using a module like PSDepend to start managing these dependencies. Although of course the PSDepend module still needs to be bootstrapped.

[2019-01-10 08:45] PlagueHO commented on #292
I think this one is no longer an issue:
https://ci.appveyor.com/project/PowerShell/NetworkingDsc/branch/dev?fullLog=true#L19

So, I reckon we close this one unless it pops up again.

[2019-01-10 08:46] PlagueHO commented on #251
This was actually completed in PR #256

[2019-01-10 08:46] #251 closed

[2019-01-16 15:05] stevehose opened #307 "Selective generic text file testing based upon file type"
This request is for improving testing. Currently, integration testing analyzes text files ('.gitignore', '.gitattributes', '.ps1', '.psm1', '.psd1', '.json', '.xml', '.cmd', '.mof', '.md', '.js', '.yml') with several tests such as looking for empty files, Unicode encoding, content with tab characters, and files that do not end with a newline character. A better approach is to select which tests ar

[2019-01-18 10:38] PlagueHO commented on #307
Thank you for raising this @stevehose. This certainly could be done. I'd recommend if such changes were made we would use a data driven approach (e.g. a PSD1 file defining each file type and the test types that should apply). But we should leave this up for community discussion.

[2019-01-18 16:15] stevehose commented on #307
Awesome! Thanks for the reply. I'll start working on a fork and proposal and we can review it.

[2019-01-25 13:06] johlju commented on #292
Let's close this issue.

[2019-01-25 13:08] johlju opened #308 "A command with name 'Find-Package' is already available on this system"
#### Details of the problem, bug, or enhancement
Saw a new error today, when installing PowerShellGet.

https://github.com/PowerShell/DscResource.Tests/blob/a522ade40d959fc931dfc9eb2a4ec096b7e3afb1/AppVeyor.psm1#L42-L49

#### Verbose logs showing the problem (if applicable)
[code]
https://ci.appveyor.com/project/PowerShell/sqlserverdsc/builds/21886114/job/072wm5llt4qyagc7?fullLog=true#L19

#### Su

[2019-01-25 13:12] johlju commented on #308
This must have been a temporary glitch, can't reproduce.

[2019-01-25 13:12] #308 closed, assigned to nobody

[2019-01-25 22:05] PlagueHO commented on #292
Cool. Thanks @johlju

[2019-01-25 22:05] #292 closed, assigned to nobody

[2019-01-26 21:21] PlagueHO opened #309 "Add Summary & Breakdown of Test Result Performance to AppVeyor Output"
As a DSC resource kit contributor
I want to be able to see the amount of time spent running tests in each file/fixture
So that my test I can identify tests that might be targets for improving performance

See: https://github.com/PowerShell/xPSDesiredStateConfiguration/issues/477#issuecomment-457860098

Tagging @mhendric, @johlju

[2019-01-27 10:12] johlju commented on #309
I liked the idea of outputing a table from the NUnitXML. Start with that and see how far it gets us? I think it should be enough. 🤔

[2019-01-27 10:24] johlju commented on #309
Maybe instead of outputting a table, maybe we can add the information to the test pane? If we made this into a helper function, when looping through the NUnitXML we could just add rows to the test pane. That way each file would be at the top of the test pane results. 🤔
I'm good with an ASCII table in the output view too 🙂

https://github.com/PowerShell/DscResource.Tests/blob/bfa3d0d8e0a58919547d40

[2019-01-27 20:03] PlagueHO commented on #309
Do you mean the AppVeyor Tests:
![image](https://user-images.githubusercontent.com/7589164/51806168-69d10900-22db-11e9-920a-90ac7e5fd98a.png)

So you're thinking adding test summaries directly to the test results tab in AppVeyor for the run? That could definitely be worth investigating!

[2019-01-28 18:44] johlju commented on #309
Yes exactly. If test name need to have a value then just use the filename there too. I'm thinking one entry per file, and after that all the entries is added from the pester object like it does today. Hopefully they are viewed in the same order they are added, otherwise it won't work :)

[2019-02-05 22:04] mhendric opened #310 "Continuous Integration Setup Periodically Fails With: Install-Package : A command with name 'Find-Package' is already available on this system"
#### Details of the scenario you tried and the problem that is occurring
I've noticed a handful of times in the past week where AppVeyor based test jobs fail almost immediately due to trying to import a cmdlet that has already been imported. Generally just resubmitting the job is enough to get it to work. This appears to be a transient issue of some sort.

#### Verbose logs showing the problem
Fro

[2019-02-06 17:02] mhendric commented on #310
Here's a couple more hits for this issue:

https://ci.appveyor.com/project/PowerShell/xpsdesiredstateconfiguration/builds/22171372/job/kegj4c5njmreki92

https://ci.appveyor.com/project/PowerShell/xpsdesiredstateconfiguration/builds/22171438/job/odjsi2okrkm0e7nr

[2019-02-06 17:22] mhendric commented on #310
...and another:

https://ci.appveyor.com/project/PowerShell/xpsdesiredstateconfiguration/builds/22173519/job/f4s3f8ji382obbvv

[2019-02-14 08:18] #310 closed, assigned to nobody

[2019-03-02 13:28] johlju opened #312 "When opt-in to spell-check, the cloned DscResource.Tests is also spell-checked"
#### Details of the problem, bug, or enhancement
If a resource module has opt-in to use spell-check to spell-check is also testing markdown files inside DscResource.Tests.

#### Verbose logs showing the problem (if applicable)
https://ci.appveyor.com/project/johlju/dscresource-template/builds/22770345#L373

[code]

#### Suggested solution to the issue
Exclude the DscResource.Tests folder when spel

[2019-03-12 16:20] johlju opened #313 "Pester seem to be installed, but still loads the wrong version"
#### Details of the problem, bug, or enhancement
I have seen a strange problem twice in the last few days. For some reason the wrong Pester version is used (my guess) even when we install the latest.
This is just happening in the Meta tests job, and the other jobs in the same build works correctly..

#### Verbose logs showing the problem (if applicable)
https://ci.appveyor.com/project/johlju/sqlse

[2019-03-23 01:01] mhendric opened #314 "Links to DSC Test Templates Are Dead"
Not sure if it's just me, but I have not been able to successfully search for the DSC test templates today, and the links referenced in the following URL are all 404 not found:

https://github.com/PowerShell/DscResource.Tests#templates-for-creating-tests

Dead links:

https://github.com/PowerShell/DscResources/blob/master/Tests.Template/integration_template.ps1
https://github.com/PowerShell/DscRes

[2019-03-23 01:22] gaelcolas commented on #314
We moved the template to https://github.com/PowerShell/DscResource.Template

[2019-03-23 01:24] gaelcolas commented on #313
We should enforce a minimum version or people will have issues when they still have built-in version.
I address this in my draft PR

[2019-03-23 01:36] mhendric commented on #314
The dead links in here probably need to be updated then.

https://github.com/PowerShell/DscResource.Tests#templates-for-creating-tests

[2019-03-23 02:06] gaelcolas commented on #314
Will fix on Monday. Thanks for pointing out!

[2019-03-23 06:33] johlju commented on #313
I have actually not seen this after I posted the issue, this was probably a glitch in AppVeyor. The latest version is always installed by the test framework, and should be used by the test framework since it imports the latest.

Closing this issue.

[2019-03-23 06:33] #313 closed, assigned to nobody

[2019-03-24 18:48] PlagueHO opened #315 "Add Improvements from PSSA 1.18"
PSSA 1.18 includes many improvements that might help DSC Resource kit.

The PSUseConsistentWhitespace could be used here and in the template to reduce PR comments.

The PSUseConsistentIndentation could also prove useful.

And finally the changes to DSC handling call also serve to simplify.

This is mainly just a place holder issue.

https://devblogs.microsoft.com/powershell/powershell-scriptanalyz

[2019-03-25 13:37] ykuijs opened #317 "PSSA v1.18 is giving errors with subclasses"
#### Details of the problem, bug, or enhancement
With the release of PSScriptAnalyzer v1.18, several resources in SharePointDsc are giving false positives:
The following PSScriptAnalyzer rule 'PSDSCUseIdenticalMandatoryParametersForDSC' errors need to be fixed:
MSFT_SPSearchContentSource.psm1 (Line 1): The 'Required' parameter 'ScheduleType' is not present in 'Get-TargetResource' DSC resource func

[2019-03-25 19:12] bergmeister commented on #317
Thanks for reporting it, I added a comment to the created PSSA issue.

[2019-04-08 19:20] djwork opened #318 "Nuget Spec Generated by AppVeyor invalid for PS Module Repository"
#### Details of the problem, bug, or enhancement
As part developing the fix issue [ComputerManagementDsc #130](https://github.com/PowerShell/ComputerManagementDsc/issues/130) I have been running the appveyor build/unit test for my fork. When appveyor runs it generates a sample nuget file. I loaded the file into an internal repository where I store development modules and then tried to install the

[2019-04-17 16:27] johlju commented on #145
I made an alpha version of tests - I will add them to DscResource.Tests when I done a little bit more of testing.
 https://github.com/johlju/SqlServerDsc/blob/localization-tests/Tests/Unit/Localization.Tests.ps1

Tests fixed:
- Should have an en-US localization folder.
- The en-US localization folder should have the correct casing.
- Should exist a resource file with the correct name in the locali

[2019-04-17 19:56] PlagueHO commented on #145
Nice work @johlju - keen to try ot out on some of the ones I maintain. We make it an opt in test?

[2019-04-17 20:24] johlju commented on #145
Yes we should make it an opt-in test I think, since it would fail if there were a resource that was not yet using the correct localization style. It is also hard-coded to look for $script:localizedData so it would fail if the variable would be called any other thing. :)
I was thinking I will make the opt-in so that it won’t run anything if not opt-in since it will generate a lot of unnecessary out

[2019-04-18 11:50] johlju opened #320 "Additional localization tests"
#### Details of the problem, bug, or enhancement
There is localization tests added in PR #319. But there are a couple of additional tests that should be added. If possible we should also add the tests mentioned here PowerShell/DscResources#236 (comment)

#### Verbose logs showing the problem (if applicable)
n/a

#### Suggested solution to the issue
See details above.

[2019-04-30 07:46] PlagueHO commented on #318
Thanks @djwork - I'm freed up and will have some time to look into this over the weekend.

[2019-05-03 22:02] #145 closed

[2019-05-12 08:04] sergey-s-betke opened #322 "When opt-in to markdown links check, the cloned DscResource.Tests is also checked"
#### Details of the problem, bug, or enhancement

When opt-in to markdown links check, the cloned DscResource.Tests is also spell-checked

#### Verbose logs showing the problem (if applicable)

https://ci.appveyor.com/project/sergey-s-betke/xitghyperv/builds/24480593

[2019-06-04 16:36] johlju opened #323 "Remove manual step in auto-documentation"
#### Details of the problem, bug, or enhancement
When auto-documentation is created in the pipeline, it just generate an artefact that contains the new markdown files. These files must be pushed manually to the wiki repo

[code]

#### Verbose logs showing the problem (if applicable)
n/a

#### Suggested solution to the issue
These steps should be done by the pipeline. The problem is that is needs t

[2019-06-05 08:53] X-Guardian commented on #142
Hi guys, I've written a function that will do this, and am testing it now. I'll raise a PR when I'm happy with it.

[2019-06-05 09:00] PlagueHO commented on #142
Cool! Thanks @X-Guardian - looking forward to this. Ideally this will get triggered automatically as part of the build that occurs on the merge to master like what happens with the Example publishing automation.

[2019-06-05 09:20] X-Guardian commented on #142
I've plugged it into the `Invoke-AppVeyorDeployTask` with an additional `OptIn` ValidateSet member to trigger it. I've added the actual function into the `WikiPages` module.

I'm just trying to add some additional error processing around the calls to Git, but being an external executable, it is a pain!

[2019-06-05 15:54] johlju commented on #323
This is being tracked in issue https://github.com/PowerShell/DscResource.Tests/issues/142

[2019-06-05 15:54] #323 closed, assigned to nobody

[2019-06-10 07:21] X-Guardian commented on #142
OK guys, pull request #324 complete. Let me know what you think.

[2019-06-11 06:16] X-Guardian commented on #228
I've written code for this that plugs in to the new `Publish-WikiContent` function.
It loops through the list of files in the Wiki and adds a list entry to the sidebar for each one consisting of a link built from the text of the first line of the file (trimmed of any header markdown) linked to the base file name.
You can see an example in my fork of the [xActiveDirectory](https://github.com/X-Guar

[2019-06-11 07:14] X-Guardian commented on #227
I've written code for this that plugs in to the new `Publish-WikiContent` function.
It copies any files in a `/WikiSource` directory of the repo into the Wiki.

You can see an example in my fork of the [xActiveDirectory](https://github.com/X-Guardian/xActiveDirectory/wiki) module.

I could add this to PR #324, or wait till that's merged and raise a new PR. What do you guys think?

[2019-06-13 05:13] johlju commented on #227
I suggest we add that when the first is merged, so we don’t make the PR unnecessarily big.

[2019-06-13 05:14] johlju commented on #228
I suggest we add that when the first is merged, so we don’t make the PR unnecessarily big.

[2019-06-16 11:46] johlju opened #326 "Auto-documentation should document helper functions inside the Modules folder"
It is hard for new and old contributors to know about the existing helper functions that are used to use the same patterns throughout the resources. It is not obvious for a contributor to first go through the module and read the comment-based help for each helper function to know what it does.

I would suggest automatically build Wiki documentation from each helper functions comment-based help. Th

[2019-06-18 09:04] ykuijs commented on #317
This issue has been resolved in v1.18.1 which has been released recently

[2019-06-18 09:04] #317 closed, assigned to nobody

[2019-06-29 21:03] #314 closed, assigned to gaelcolas

[2019-06-30 17:13] PlagueHO opened #328 "Refactor DscResource.DocumentationHelper/PowerShellHelp.psm1/New-DscResourcePowerShellHelp"
Function DscResource.DocumentationHelper/PowerShellHelp.psm1/New-DscResourcePowerShellHelp has some code smells that require refactoring:
1. A lot of string concatenation which should be converted to a stringbuilder.
2. Indents being defined by a block of spaces in quotes - difficult to determine if the right number is used - should be assigned to a variable `$indent = [System.String]::new(' ',4)`

[2019-07-01 10:46] johlju opened #329 "New-DscResourcePowerShellHelp: Should output the help keyword .EXAMPLE in upper-case"
The cmdlet `New-DscResourcePowerShellHelp` should output the help keyword `.EXAMPLE` in upper-case, currently it is outputting it as `.Example 1` where it should be `.EXAMPLE 1` to be consequent with the other help keywords.

[2019-07-01 10:51] johlju commented on #329
See example of the wrong output in the pending PR here https://github.com/PowerShell/xActiveDirectory/pull/405/files

[2019-07-02 19:30] X-Guardian opened #330 "Test-PublishMetadata: Exception Raised If the Example being tested has an invalid GUID"
#### Details of the problem, bug, or enhancement

If `Test-PublishMetadata` is run against a DSC example that contains file metadata with an invalid GUID, an exception is thrown.

Example: PowerShell/xActiveDirectory#409

#### Verbose logs showing the problem (if applicable)

[code]

#### Suggested solution to the issue

Add processing for this error to the `Test-PublishMetdadata` function so that

[2019-07-03 06:57] #142 closed

[2019-07-03 07:30] #329 closed, assigned to nobody

[2019-07-04 05:27] #330 closed, assigned to nobody

[2019-07-04 05:29] PlagueHO commented on #326
I like the approach here @johlju . Gets my vote.

[2019-07-04 05:30] PlagueHO commented on #322
Good catch @sergey-s-betke - thanks for raising this! It should be an easy fix. Labelled it as good first issue.

[2019-07-04 07:14] gaelcolas commented on #326
I'm still not sold on GitHub wiki. Much better than nothing for now, but I feel that'd be better 'pulled' by a documentation website of some sort, long term (i.e. from git hook). Can discuss this in a few weeks ;)

[2019-07-04 08:20] PlagueHO commented on #326
I 100% agree with you @gaelcolas that we need to move to some form of documentation website. But this might have to do until some alternative comes along ;)

[2019-07-04 19:29] X-Guardian opened #332 "Invoke-AppveyorAfterTestTask: Exception Calling New-DscResourcePowerShellHelp when Type is 'Wiki'"
#### Details of the problem, bug, or enhancement

The changes to `New-DscResourcePowerShellHelp` made in #325 are causing `Invoke-AppveyorAfterTestTask` to throw a non-terminating exception calling the function with what is now a non-existing parameter, `OutputPath`. My fault as I didn't know this function was called from here when I wrote PR #325.

#### Verbose logs showing the problem (if applic

[2019-07-05 07:27] PlagueHO commented on #332
Just to answer one of your questions: The AppVeyor artifact is not being used to publish to the PS Gallery. Katies scripts I think rebuild the artifact locally and publish it from there.

I'd go with restoring the OutputPath parameter, because I suspect other maintainers (possibly SharepointDsc) that use this too and a breaking change to the signature might cause other problems.

Also, we don't st

[2019-07-05 22:58] PlagueHO commented on #244
Any objections if we implement this one @johlju , @gaelcolas ? It'll save a lot of PR comments.

[2019-07-10 11:35] johlju commented on #332
I agree to add back the `OutputPath` parameter, but if it is not provided then use the current behavior. I just saw this error to, and thought of submitting an issue. Awesome that you are on top of things @X-Guardian!  🙂

[2019-07-11 09:40] johlju opened #336 "Wikik documentation should separate read-only parameters from the parameters table"
I suggest we add another table for the Read-Only parameters. Since they are in a table with the header 'Parameters' it could be believed they can be used to pass in values to the resource. The type qualifier `Read` might not be understood for new users.

Havind this in a table with a header 'Read-Only Properties' and with the text "Properties returned from `Get-DscConfiguration`, or `Invoke-DscRes

[2019-07-12 06:08] #332 closed, assigned to nobody

[2019-07-12 11:22] johlju opened #337 "Wiki documentation should create code quotes for variables in parameter descriptions"
#### Details of the problem, bug, or enhancement
In the schema.mof some times we refer to values that can if set something special is happening, or if the parameter has a default value.

**Example 1:** Specifies if the something something. Default value is 'Present'.
**Example 2:** Specifies if the something something. Default value is $true.
**Example 3:** Specifies if the something ... when para

[2019-07-12 13:30] johlju opened #338 "New-DscResourcePowerShellHelp: Generates white space on blank rows in the .DESCRIPTION section"
#### Details of the problem, bug, or enhancement
When the New-DscResourcePowerShellHelp reads the README.md and generates the section `.DESCRIPTION` it adds whitespace on blank rows.

#### Verbose logs showing the problem (if applicable)
n/a

#### Suggested solution to the issue
These rows
https://github.com/PowerShell/DscResource.Tests/blob/85e678355f09a02118c44e325355a871a4664945/DscResource.Doc

[2019-07-12 13:45] johlju opened #339 "New-DscResourcePowerShellHelp: Files are generated as UTF-8 with BOM"
#### Details of the problem, bug, or enhancement
The files outputted from the function New-DscResourcePowerShellHelp are UTF-8 with BOM and we have removed any other file from the repos so they are just using UTF8 (ASCII).

#### Verbose logs showing the problem (if applicable)

#### Suggested solution to the issue
Change the encoding of the cmdlet Out-File to output ASCII.

[2019-07-13 07:29] #338 closed, assigned to nobody

[2019-07-13 07:29] #339 closed, assigned to nobody

[2019-07-13 21:27] #227 closed

[2019-07-13 21:27] #228 closed

[2019-07-18 12:23] johlju commented on #326
Agree, never been were fond of the GitHub Wiki since it is not easily discovered, but we could add the parsing logic to the test framework, and then it would easier to move it. Probably don't have time to work on it for a while though.

Suggest we using `Get-Help -Detailed` to get the full syntax of the parameter sets and examples as well. It should be simple thing looping through all the helper f

[2019-08-23 06:08] johlju opened #344 "The custom rules should be listed and reference the style guideline rule it belongs to"
There are no list of the custom rules and what style guideline rule it belong to. We should make a list so it is easier to see what style guideline rules we need to add custom rules for.

[2019-08-23 06:34] PlagueHO commented on #344
Great idea @johlju !

[2019-08-23 19:17] SSvilen opened #345 "Code formatting: newlines before and after if statement block"
Hello,

Is the standard for DSC code to have a newline before and after if/ if else statement block?
This is not how I write my code and often I need to reformat it to get my PR approved.
If it is a standard, then I could do a custom PSScriptAnalyzerRule for that.

[2019-08-24 14:36] johlju commented on #345
I like to have air in the code so it easier for new contributors to read the code, it is easier for the eyes to see blocks, and those blociks are written the same throughout a repo. Most code is written with air, but there are no specific guideline around it (see https://github.com/PowerShell/DscResources/blob/master/StyleGuidelines.md#whitespace). But I love to see this as a guideline and a new c

[2019-09-18 23:09] PlagueHO opened #349 "Add Tests to Ensure DSC Resource Names are added to DSCResourcesToExport in Manifest"
It is a best practice that any DSC resources included in a module are listed in the DSCResourcesToExport field in the Module Manifest. See https://ci.appveyor.com/project/dscbot/gpregistrypolicydsc/builds/27503170#L1204

We should add tests to ensure this is happening.

This will likely break many modules, so opt-in might be something we implement.

[2019-10-03 20:12] SSvilen commented on #244
I think this was resolved with my PR (#346 )?
@PlagueHO  @johlju

[2019-10-04 19:29] PlagueHO commented on #244
@SSvilen - yes, I think you're right. I'll close.

[2019-10-04 19:29] #244 closed

[2019-10-29 20:29] SSvilen commented on #315
@johlju @PlagueHO

Once the new version of PSSA is out and the problem with ConsistentWhiteSpace is no longer present, I could turn these on and additionally revert the empty hashtable formatting check.  (PR #353 )

[2019-11-27 20:05] ykuijs opened #357 "Generation of Wikipages throws an error"
#### Details of the problem, bug, or enhancement
When reviewing the AppVeyor log of a PR, I noticed that the WikiPages.ps1 is throwing errors with objects of type Microsoft.Management.Infrastructure.CimType. The code is adding '[]' to the type, but this results in the below error.

#### Verbose logs showing the problem (if applicable)
[code]

#### Suggested solution to the issue
??

[2019-11-30 23:45] PlagueHO commented on #357
Hi @ykuijs - I think I can see the problem:
The `DataType` property that is returned by `Get-MofSchemaObject` is type [Microsoft.Management.Infrastructure.CimType], but we're trying to append a string to it. There is no implict cast to string for this type.

E.g.
[code]

So the code needs to be changed to:
[code]

I'll submit a PR to correct this.

[2019-12-02 05:24] #357 closed, assigned to nobody

[2019-12-02 05:25] PlagueHO commented on #357
Should be fixed now @ykuijs - could you check?

[2019-12-03 20:50] ykuijs commented on #357
With the move or SPDsc to the DSC Community org, our AppVeyor tests are broken. So right now I have  no possibility to test. We are working on fixing it asap.

[2020-01-15 11:34] X-Guardian opened #359 "New-DscResourceWikiSite: Array DataTypes Have Changed Format"
#### Details of the problem, bug, or enhancement

Following on from PR #354 and #358 , Array DataTypes are now output differently from `New-DscResourceWikiSite` in the `WikiPages` module.

For a MOF that contains a string array property, previously `New-DscResourceWikiSite` would output a datatype of `String[]`. Now it outputs a datatype of `StringArray[]`.

This is because `Get-MofSchemaObject` u

[2020-01-15 11:40] gaelcolas commented on #359
Did you mean to post this in dsccommunity/DscResource.Test ?

[2020-01-15 11:42] gaelcolas commented on #359
Afraid I can't transfer this as it's not allowed by GitHub:
`You can only transfer issues between repositories owned by the same user or organization account.`

[2020-01-15 12:05] X-Guardian commented on #359
No, these functions don't yet exist in DscResource.Test.

[2020-01-15 12:08] X-Guardian opened #360 "Get-MofSchemaObject: Credential Attribute Output DataType has Changed"
#### Details of the problem, bug, or enhancement

Following on from PR #354, `EmbeddedInstance("MSFT_Credential")` MOF attributes output by `Get-MofSchemaObject` now have a DataType of `Instance` whereby previously they had a DataType of `String`.

#### Verbose logs showing the problem (if applicable)

Previous `EmbeddedInstance("MSFT_Credential")` attribute properties:
[code]

Current `EmbeddedIn

[2020-02-24 04:02] mmilirud-msft commented on #308
I'm hitting this on freshly deployed Azure VM with Windows Server 2016, trying to install https://www.powershellgallery.com/packages/Az.ApplicationMonitor/1.0.1 which requires Install-Module -Name PowerShellGet -Force to get newer PowerShellGet than ships with WS16.

[2021-01-04 10:32] johlju opened #361 "Common Tests - File Formatting: References missing cmdlets"
#### Details of the problem, bug, or enhancement
The tests _Common Tests - File Formatting_ (`FileFormatting.common*`) are referencing missing cmdlets.

- `Get-UnicodeFilesList`
- `ConvertTo-UTF8` (used for schema.mof files)
- `ConvertTo-ASCII` (used for code script files)

They exist here: https://github.com/PowerShell/DscResource.Tests/blob/dev/MetaFixers.psm1

#### Verbose logs showing the prob

[2021-01-04 10:33] johlju commented on #361
Submitted to wrong repo. :/

[2021-01-04 10:33] #361 closed, assigned to nobody